<div class="container">
  <h1 class="title">Tenant Domains</h1>
  <tenant-tabs></tenant-tabs>
  <form class="form" [formGroup]="filterForm">
    <input class="input" type="text" placeholder="Search..." formControlName="search" />
  </form>
  <data-grid [dataSource]="dataSource">
    <data-grid-column name="domain" itemTemplate="bold"></data-grid-column>
    <data-grid-column name="redirectTo"></data-grid-column>
    <data-grid-column justify="right">
      <ng-template #headTemplate><a (click)="add()" class="link is-success">add</a></ng-template>
      <ng-template #itemTemplate let-item>
        <a (click)="edit(item)" class="link is-primary">edit</a>
        &nbsp;
        <a (click)="delete(item)" class="link is-danger">delete</a>
      </ng-template>
    </data-grid-column>
  </data-grid>
</div>

<ng-template #addDialog>
  <form class="form dialog" [formGroup]="addForm.formGroup">
    <div class="dialog-head">
      Create Tenant Domain
    </div>
    <div class="dialog-body">
      <div class="grid">
        <div class="field">
          <label class="label">Domain</label>
          <input class="input" type="text" placeholder="required" formControlName="domain" />
        </div>
        <div class="field">
          <label class="label">Redirect To</label>
          <input class="input" type="text" placeholder="optional" formControlName="redirectTo" />
        </div>
      </div>
    </div>
    <div class="dialog-buttons">
      <button type="submit" class="is-success" (click)="doAdd()">Add</button>
      <button type="button" (click)="cancelAdd()">Cancel</button>
    </div>
  </form>
</ng-template>

<ng-template #editDialog>
  <form class="form dialog" [formGroup]="editForm.formGroup">
    <div class="dialog-head">
      Edit Tenant Domain
    </div>
    <div class="dialog-body">
      <div class="grid">
        <div class="field">
          <label class="label">Domain</label>
          <input class="input" type="text" placeholder="required" formControlName="domain" />
        </div>
        <div class="field">
          <label class="label">Redirect To</label>
          <input class="input" type="text" placeholder="optional" formControlName="redirectTo" />
        </div>
      </div>
    </div>
    <div class="dialog-buttons">
      <button type="submit" class="is-success" (click)="doEdit()">Save</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>
</ng-template>

