
:root {
    --gap: 1.0rem;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--gap)/-2);
    margin-right: calc(var(--gap)/-2);
}

    .flex > * {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        padding: 0 calc(var(--gap)/2) 0 calc(var(--gap)/2);
        margin-bottom: var(--gap);
        min-width: 20%;
    }

    .flex > .is-3 {
        flex: none;
        width: 25%;
    }

    .flex > .is-4 {
        flex: none;
        width: 33.33%;
    }

    .flex > .is-6 {
        flex: none;
        width: 50%;
    }

    .flex > .is-12 {
        flex: none;
        width: 100%;
    }

    .flex > .is-right {
        text-align: right;
    }
