<div #popupAnchor class="control">
  <input #FocusInput class="input" [placeholder]="placeholder" [formControl]="focusControl" (keyup)="focusKeyUp($event)" (keypress)="focusKeyPress($event)" (focus)="openPopup()" (blur)="closePopup()" />
  <!-- Clear Icon -->
  <div *ngIf="!_isDisabled && enableClear && pickedItems.length !== 0" class="icon is-secondary" (click)="stop($event); clear();">
    <i class="fas fa-times"></i>
  </div>
  <!-- Open Icon -->
  <div *ngIf="!_isDisabled" class="icon is-secondary" (click)="openPopup()">
    <i class="fas fa-chevron-down"></i>
  </div>
  <!-- Callback Icon -->
  <div *ngIf="callbackIcon != null" class="icon is-secondary" (click)="onCallback()">
    <i [class]="callbackIcon"></i>
  </div>

</div>

<ng-template #defaultOptionTemplate let-item>
  {{ item.name }}
</ng-template>

<ng-template #defaultPickedTemplate let-item>
  {{ item.name }}
</ng-template>

<ng-template #popupTemplate>
  <div class="dropdown-popup">
    <div class="items" (scroll)="onDropDownScroll($event)">
      <div *ngFor="let item of optionItems; index as i" class="dropdown-item" (mousedown)="pickItem(item)" [class.active]="i == activeIndex" (mouseover)="setActiveIndex(i)" (mouseenter)="setActiveIndex(i)">
        <ng-container *ngTemplateOutlet="_optionTemplate;context: { $implicit: item }"></ng-container>
      </div>
      <div *ngIf="optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
        Loading...
      </div>
      <div *ngIf="!optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
        <i>No items available</i>
      </div>
    </div>
  </div>
</ng-template>
