<div #popupAnchor class="control">
  <input #textInput class="input" [placeholder]="placeholder" [formControl]="formControl" (focus)="openPopup()" (blur)="delayedClosePopup()" />
  <!-- Clear Icon -->
  <div *ngIf="enableClear && pickedItems.length !== 0" class="icon is-secondary" (click)="clear($event)">
    <i class="fas fa-times"></i>
  </div>
  <!-- Open Icon -->
  <div class="icon is-secondary" (click)="togglePopup($event, textInput)">
    <i class="fas fa-chevron-down"></i>
  </div>
</div>

<ng-template #defaultOptionTemplate let-item>
  {{ item.name }}
</ng-template>

<ng-template #defaultPickedTemplate let-item>
  {{ item.name }}
</ng-template>

<ng-template #popupTemplate>
  <div class="dropdown-popup">
    <div class="items" (scroll)="onDropDownScroll($event)">
      <div *ngFor="let item of optionItems" class="dropdown-item" (click)="pickItem(item, $event)">
        <ng-container *ngTemplateOutlet="_optionTemplate;context: { $implicit: item }"></ng-container>
      </div>
      <div *ngIf="optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
        Loading...
      </div>
      <div *ngIf="!optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
        <i>No items available</i>
      </div>
    </div>
  </div>
</ng-template>
