<form *ngIf="search" class="form" [formGroup]="searchForm">
  <input class="input" type="text" placeholder="Search..." formControlName="search" />
</form>

<div class="table">
  <table>
    <thead>
      <tr>
        <th class="is-narrow" *ngIf="sortable"></th>
        <th *ngFor="let column of columns" [style.text-align]="column.justify" [class.is-narrow]="column.narrow">
          <ng-container *ngTemplateOutlet="column.headTemplateRef"></ng-container>
          <div *ngIf="!column.headTemplateRef">
            <a *ngIf="column.sortable" class="data-sorter" href="javascript:;" (click)="columnSort(column)">
              {{ column.label }}
              <span *ngIf="column.direction > 0"><i class="fas fa-sort-amount-down-alt"></i></span>
              <span *ngIf="column.direction < 0"><i class="fas fa-sort-amount-down"></i></span>
            </a>
            <span *ngIf="!column.sortable">{{ column.label }}</span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="totalCount > 0" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled]="!sortable">
      <tr *ngFor="let item of items" cdkDrag>
        <td *ngIf="sortable" class="drag-handle is-narrow" cdkDragHandle>
          <i *ngIf="!sorting" class="fas fa-fw fa-bars"></i>
          <i *ngIf="sorting" class="fas fa-fw fa-spin fa-sync"></i>
        </td>
        <td *ngFor="let column of columns" [style.text-align]="column.justify">
          <ng-container *ngTemplateOutlet="column.itemTemplateRef; context: { $implicit: item }"></ng-container>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="totalCount == 0">
      <tr>
        <td [attr.colspan]="columnCount">
          <i>No items to display</i>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="totalCount < 0">
      <tr>
        <td [attr.colspan]="columnCount">Loading...</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-pager" *ngIf="totalCount > items.length">
  <div class="columns is-mobile">
    <div class="column">
      <div *ngIf="pageCount <= 1"></div>
      <div *ngIf="pageCount > 1 && pageCount <= 12">
        <button class="button is-primary is-small" [disabled]="pageIndex == page" (click)="repage(page)" *ngFor="let page of range(pageCount)">
          {{ page + 1 }}
        </button>
      </div>
      <div *ngIf="pageCount > 12" class="buttons">
        <button class="button is-primary is-small" (click)="repage(0)" [disabled]="pageIndex <= 0">First</button>
        <button class="button is-primary is-small" (click)="repage(pageIndex - 1)" [disabled]="pageIndex <= 0">&laquo;</button>
        <button class="button is-primary is-small" [disabled]>{{ pageIndex + 1 }}</button>
        <button class="button is-primary is-small" (click)="repage(pageIndex + 1)" [disabled]="pageIndex >= pageCount - 1">&raquo;</button>
        <button class="button is-primary is-small" (click)="repage(pageCount - 1)" [disabled]="pageIndex >= pageCount - 1">Last</button>
      </div>
    </div>
    <div class="column is-right">
      <select style="text-align: right; background-color: transparent; border: 0" (change)="retake($event)">
        <option style="display: none"></option>
        <option [selected]="query.take == 5">5</option>
        <option [selected]="query.take == 10">10</option>
        <option [selected]="query.take == 15">15</option>
        <option [selected]="query.take == 20">20</option>
        <option [selected]="query.take == 25">25</option>
        <option [selected]="query.take == 30">30</option>
        <option [selected]="query.take == 40">40</option>
        <option [selected]="query.take == 50">50</option>
        <option [selected]="query.take == 100">100</option>
      </select>
      /
      {{ totalCount }}
    </div>
  </div>
</div>
