<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Dashboard</h1>
    </div>
    <div class="column">
      <div class="header-buttons">
        <button class="button is-primary" (click)="manageWidgets()">Manage Widgets</button>
      </div>
    </div>
  </div>
  @for(widget of widgetService.widgets | async; track widget.value.id) {
  @switch(widget.value.widgetTypeId){
  @case(WidgetTypeEnum.ProjectSummary) { <project-summary-widget [widget]="widget" /> }
  @case(WidgetTypeEnum.TeamSupport) { <team-support-widget [widget]="widget" />  }
  @case(WidgetTypeEnum.TeamActivity) { <team-activity-widget [widget]="widget" /> }
  }
  }
</div>
