
<div class="container">

  <h1 class="title">Home Component</h1>

  <div class="tabs">
    <ul>
      <li class="is-active"><a>Pictures</a></li>
      <li><a>Music</a></li>
      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>

  <button class="button" type="button" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">Overlay</button>

  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bob</td>
          <td>42</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>42</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>42</td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>42</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop" [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen" [cdkConnectedOverlayHasBackdrop]="true" (detach)="isOpen=false" (backdropClick)="isOpen=false">
  <ul style="margin: 0; background-color: #FFF; padding: 20px; border: 1px solid #dadada; box-shadow: 2px 2px 4px RGBA(0, 0, 0, 0.3)">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</ng-template>
