<div class="login-wrapper">
  <div class="login-form">
    <form class="form" [formGroup]="form" autocomplete="off" spellcheck="false" novalidate>
      <div class="logo"></div>
      <hr />
      <h1>
        Forgotten Password
      </h1>
      <hr />
      <div *ngIf="emailSent === false">
        <p>
          Please enter your email address below.
        </p>
        <div class="grid">
          <div class="field">
            <input name="email" type="text" class="input" placeholder="Email Address" formControlName="email" />
          </div>
        </div>
        <div class="buttons">
          <button type="submit" class="button is-success" (click)="forgottenPassword()">
            Send Password Reset Email
          </button>
          &nbsp;&nbsp;
          <a (click)="returnToLogin()" class="link">return to login</a>
        </div>
      </div>
      <div *ngIf="emailSent === true">
        <p>Thank you. If your email address is recognised you will shortly receive an email containing a link you can use to reset your password.</p>
        <p>If the email does not arrive please check your spam or junk email folders before contacting your system administrator.</p>
      </div>
    </form>
  </div>
  <a class="webfuel" href="https://www.webfuel.com" target="_blank">powered by webfuel</a>
</div>

