<div class="login-wrapper">
  <div class="login-form">
    <form class="form" [formGroup]="form" autocomplete="off" spellcheck="false" novalidate>
      <div class="logo"></div>
      <hr />
      <h1>
        Forgotten Password
      </h1>
      <hr />
      <p>
        Please enter your email address below.
      </p>
      <div class="grid">
        <div class="field">
          <input name="email" type="text" class="input" placeholder="Email Address" formControlName="email" />
        </div>
      </div>
      <div class="buttons">
        <button type="submit" class="button is-success" (click)="forgottenPassword()">
          Send Password Reset Email
        </button>
        &nbsp;&nbsp;
        <a (click)="returnToLogin()" class="link">return to login</a>
      </div>
    </form>
  </div>
  <a class="webfuel" href="https://www.webfuel.com" target="_blank">powered by webfuel</a>
</div>

