<div class="container">
  <h1 class="title">Tenant</h1>

  <tenant-tabs></tenant-tabs>

  <form class="form" [formGroup]="formManager.formGroup">
    <div class="grid">
      <div class="field">
        <label class="label">Name</label>
        <input class="input" type="text" placeholder="required" formControlName="name" />
      </div>
    </div>
    <div class="buttons">
      <button class="button is-success" (click)="save()">Save</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
