<div class="container">

  <div class="columns">
    <div class="column">
      <h1 class="title">User</h1>
    </div>
    <div class="column">
      <div class="buttons is-right">
        <button class="button">Change Password</button>
      </div>
    </div>
  </div>

  <user-tabs></user-tabs>

  <form class="form" [formGroup]="formManager.formGroup">
    <div class="grid has-columns-2">
      <div class="field">
        <label class="label">Email</label>
        <input class="input" type="text" placeholder="required" formControlName="email" />
      </div>
      <div class="field">
        <label class="label">User Group</label>
        <dropdown-select [dataSource]="userGroupDataSource" placeholder="required" formControlName="userGroupId"></dropdown-select>
      </div>
    </div>
    <div class="buttons">
      <button class="button is-success" (click)="save()">Save</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </div>
  </form>

  <pre>{{formManager.getRawValue()|json}}</pre>

</div>
