<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/user/user-list">Users</a></li>
  <li><a routerLink="/user/user-item/{{ item.id }}">User</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">User</h1>
    </div>
  </div>
  <user-tabs></user-tabs>
  <form class="form" [formGroup]="form">
    <div class="grid has-columns-2">
      <div class="field">
        <label class="label">Email</label>
        <input class="input" type="text" placeholder="required" formControlName="email" />
      </div>
      <div class="field">
        <label class="label">Title</label>
        <dropdown-text-input placeholder="required" [dataSource]="staticDataCache.title" formControlName="title" />
      </div>
      <div class="field">
        <label class="label">First name</label>
        <input class="input" type="text" placeholder="required" formControlName="firstName" />
      </div>
      <div class="field">
        <label class="label">Last name</label>
        <input class="input" type="text" placeholder="required" formControlName="lastName" />
      </div>
      <div class="field">
        <label class="label">User group</label>
        <dropdown-select [dataSource]="userGroupApi" placeholder="required" formControlName="userGroupId"></dropdown-select>
      </div>
    </div>

    <div class="grid has-columns-2">
      <div class="field">
        <label class="label">RSS job title</label>
        <input class="input" type="text" placeholder="required" formControlName="rssJobTitle" />
      </div>
      <div class="field">
        <label class="label">University job title</label>
        <input class="input" type="text" placeholder="required" formControlName="universityJobTitle" />
      </div>
      <div class="field">
        <label class="label">Professional background</label>
        <input class="input" type="text" placeholder="required" formControlName="professionalBackground" />
      </div>
      <div class="field">
        <label class="label">Specialisation</label>
        <input class="input" type="text" placeholder="required" formControlName="specialisation" />
      </div>
      <div class="field column-span-2">
        <label class="label">Adviser type / discipline</label>
        <dropdown-multi-select [dataSource]="staticDataCache.userDiscipline" placeholder="required" formControlName="disciplineIds"></dropdown-multi-select>
      </div>
    </div>

    <div class="grid has-columns-2">
      <div class="field">
        <label class="label">Start date for RSS</label>
        <date-picker placeholder="optional" formControlName="startDateForRSS"></date-picker>
      </div>
      <div class="field">
        <label class="label">End date for RSS</label>
        <date-picker placeholder="optional" formControlName="endDateForRSS"></date-picker>
      </div>
      <div class="field">
        <label class="label">Full time equivalent for RSS [0 - 1]</label>
        <input class="input" type="number" step="0.1" min="0" max="1" placeholder="optional" formControlName="fullTimeEquivalentForRSS" />
      </div>
      <div class="field">
        <label class="label">Site</label>
        <dropdown-select [dataSource]="staticDataCache.site" placeholder="required" formControlName="siteId"></dropdown-select>
      </div>
    </div>

    <div class="grid has-columns-2">
      <div class="field">
        <label class="label">Hidden (will not be selectable in drop down lists)</label>
        <toggle-input formControlName="hidden" />
      </div>
      <div class="field">
        <label class="label">Disabled (will not be able to login)</label>
        <toggle-input formControlName="disabled" />
      </div>
    </div>

    <div class="floating-buttons">
      <button class="button is-success" (click)="save(false)">Save</button>
      <button class="button is-success" (click)="save(true)">Save &amp; Close</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
  <p>Created {{ item.createdAt | date: 'dd MMM yy HH:mm'}}</p>
</div>
