<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/project/project-list">Projects</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Projects</h1>
    </div>
    <div class="column">
      <div class="header-buttons">
        <button class="button is-primary" (click)="annualReport()">Annual Report</button>
        <button class="button is-primary" (click)="export()">Export</button>
      </div>
    </div>
  </div>
  <div class="filter-form">
    <form class="form" [formGroup]="filterForm">
      <div class="flex">
        <div class="field is-3">
          <input class="input" type="text" formControlName="number" placeholder="Number" />
        </div>
        <div class="field is-9">
          <input class="input" type="text" formControlName="title" placeholder="Title" />
        </div>
      </div>
      <div class="flex">
        <div class="field is-3">
          <dropdown-select [dataSource]="userApi" placeholder="Lead Adviser" formControlName="leadAdviserUserId" [enableClear]="true" [enableSearch]="true">
            <ng-template #optionTemplate let-item>
              {{ item.fullName }}
            </ng-template>
            <ng-template #pickedTemplate let-item>
              {{ item.fullName }}
            </ng-template>
          </dropdown-select>
        </div>
        <div class="field is-3">
          <dropdown-select [dataSource]="userApi" placeholder="Support Adviser" formControlName="supportAdviserUserId" [enableClear]="true" [enableSearch]="true">
            <ng-template #optionTemplate let-item>
              {{ item.fullName }}
            </ng-template>
            <ng-template #pickedTemplate let-item>
              {{ item.fullName }}
            </ng-template>
          </dropdown-select>
        </div>
        <div class="field is-3">
          <input class="input" type="text" formControlName="teamContactName" placeholder="Contact Name" />
        </div>
        <div class="field is-3">
          <dropdown-select [dataSource]="staticDataCache.supportTeam" placeholder="Support Team" formControlName="requestedSupportTeamId" [enableClear]="true"></dropdown-select>
        </div>
      </div>
      <div class="flex">
        <div class="field is-3">
          <dropdown-select [dataSource]="staticDataCache.projectStatus" placeholder="Status" formControlName="statusId" [enableClear]="true"></dropdown-select>
        </div>
        <div class="field is-3">
          <date-picker placeholder="From Date" formControlName="fromDate" [enableClear]="true" />
        </div>
        <div class="field is-3">
          <date-picker placeholder="To Date" formControlName="toDate" [enableClear]="true" />
        </div>
        <div class="field is-3">
          <dropdown-select [dataSource]="staticDataCache.fundingStream" placeholder="Proposed Funding Stream" formControlName="proposedFundingStreamId" [enableClear]="true"></dropdown-select>
        </div>
        <div class="is-12 is-right">
          <button (click)="resetFilterForm()" class="button is-small">show all</button>
        </div>
      </div>
    </form>
  </div>

  <grid [dataSource]="projectApi" [filterForm]="filterForm" stateKey="ProjectList">
    <grid-column name="prefixedNumber" label="Number" />
    <grid-date-column name="dateOfRequest" />
    <grid-reference-column [dataSource]="staticDataCache.projectStatus" name="statusId" />
    <grid-column name="teamContactFullName" label="Contact Name" />
    <grid-column name="leadAdviserUserId" label="Lead Adviser">
      <ng-template #itemTemplate let-item>
        {{ userService.formatUser(item.leadAdviserUserId) | async }}
      </ng-template>
    </grid-column>
    <grid-column [sortable]="false" name="openTeamRequests">
      <ng-template #itemTemplate let-item>
        <span *ngFor="let id of item.openSupportRequestTeamIds; index as i">
          <span *ngIf="i > 0">&nbsp;|&nbsp;</span>{{ (staticDataCache.supportTeam.get({ id: id }) | async)?.name }}
        </span>
      </ng-template>
    </grid-column>
    <grid-column name="title" />
    <grid-reference-column [dataSource]="staticDataCache.fundingStream" name="proposedFundingStreamId" label="Proposed Funding Stream" />
    <grid-action-column [canAdd]="false" [canDelete]="false" (edit)="edit($event)" />
  </grid>
</div>


