@import '../../../../styles/config.scss';

.report-designer {
}

.report-slots {
  .button {
    margin-bottom: 0.3rem;
  }
}

.report-slot {
  display: block;
  padding: 0.6rem;
  background-color: var(--palette-control-background);
  border: 1px solid var(--palette-control-border);
  margin-bottom: 0.3rem;
}

