
<div class="report-designer" *ngIf="design">

  <div class="columns">

    <!-- Columns -->
    <div class="column">
      <div class="field">
        <label class="label">Columns</label>
        <div class="report-slots" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="dropColumn($event)" [cdkDropListDisabled]="false">
          <div class="report-slot" *ngFor="let column of design.columns" cdkDrag>
            <div class="columns">
              <div class="column">
                <span cdkDragHandle>
                  <i class="fas fa-fw fa-bars"></i>
                </span>
                &nbsp;
                <span [style.font-weight]="column.bold ? 'bold' : 'normal'">{{ column.title }}</span>
                &nbsp;
                {{ collectionDescription(column) }}
              </div>
              <div class="column is-right is-narrow">
                <a class="link is-primary" (click)="editColumn(column)">edit</a>
                &nbsp;
                <a class="link is-danger" (click)="deleteColumn(column)">delete</a>
              </div>
            </div>
          </div>
          <div class="report-slot" *ngIf="design.columns.length == 0">
            There are no columns specified on this report.
          </div>
        </div>
        <button class="button" (click)="addColumn()">Add Columns</button>
      </div>
    </div>

    <!-- Filters -->
    <div class="column">
      <div class="field">
        <label class="label">Filters</label>
        <div class="report-slots" *ngIf="design.filters.length == 0">
          <div class="report-slot">
            There are no filters specified on this report.
          </div>
        </div>
        <ng-container *ngIf="design.filters.length > 0"
                      [ngTemplateOutlet]="filterTemplate"
                      [ngTemplateOutletContext]="{ $implicit: design.filters }">
        </ng-container>
        <button class="button" (click)="addFilter()">Add Filter</button>
      </div>
    </div>
  </div>
</div>

<ng-template #filterTemplate let-filters>
  <div class="report-slots" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="dropFilter($event, filters)" [cdkDropListDisabled]="false">
    <div *ngFor="let filter of filters" cdkDrag>
      <div class="report-slot">
        <div class="columns">
          <div class="column">
            <span cdkDragHandle>
              <i class="fas fa-fw fa-bars"></i>
            </span>
            &nbsp;
            <span>
              {{ filter.description }} <i *ngIf="filter.editable" class="fas fa-pencil"></i>
            </span>
          </div>
          <div class="column is-right is-narrow">
            <a class="link is-success" (click)="addFilter(filter.id)" *ngIf="filter.filterType == ReportFilterType.Group">add</a>
            &nbsp;
            <a class="link is-primary" (click)="editFilter(filter)">edit</a>
            &nbsp;
            <a class="link is-danger" (click)="deleteFilter(filter)">delete</a>
          </div>
        </div>
      </div>
      <div *ngIf="filter.filterType == ReportFilterType.Group" style="padding-left: 2rem">
        <ng-container *ngIf="filter.filters.length > 0"
                      [ngTemplateOutlet]="filterTemplate"
                      [ngTemplateOutletContext]="{ $implicit: filter.filters }">
        </ng-container>
        <div class="report-slot" *ngIf="filter.filters.length == 0">
          Click to <a class="link is-success" (click)="addFilter(filter.id)">add</a> a condition to this group.
        </div>
      </div>
    </div>
  </div>
</ng-template>
