<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/static-data/title-list">{{typeName}} Static Data</a></li>
</ul>
<div class="container">
  <h1 class="title">{{typeName}} Static Data</h1>
  <form class="form" [formGroup]="filterForm">
    <input class="input" type="text" placeholder="Search..." formControlName="search" />
  </form>
  <data-grid [dataSource]="dataSource">
    <data-grid-column name="name" itemTemplate="bold"></data-grid-column>
    <data-grid-column name="code"></data-grid-column>
    <data-grid-column justify="right">
      <ng-template #headTemplate><a (click)="add()" class="link is-success">add</a></ng-template>
      <ng-template #itemTemplate let-item>
        <a (click)="edit(item)" class="link is-primary">edit</a>
        &nbsp;
        <a (click)="delete(item)" class="link is-danger">delete</a>
      </ng-template>
    </data-grid-column>
  </data-grid>
  <data-pager [dataSource]="dataSource"></data-pager>
</div>
