<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/configuration/configuration-menu">Configuration</a></li>
  <li>{{typeName}}</li>
</ul>
<div class="container">
  <h1 class="title">{{typeName}}</h1>
  <div class="message is-warning">
    Warning: Changes made to static will apply retrospectively to all projects and can have implications for how reports and diagnostics work. Please only make changes if you are sure of what you are doing. If in doubt please contact Webfuel.
  </div>
  <grid [dataSource]="dataSource" [search]="true">
    <grid-column name="name" />
    <grid-column name="alias" *ngIf="enableAlias" />
    <grid-boolean-column name="default" />
    <grid-boolean-column name="hidden" *ngIf="enableHidden" />
    <grid-boolean-column name="freeText" *ngIf="enableFreeText" />
    <grid-action-column (add)="onAdd()" [canAdd]="canAdd" (edit)="onEdit($event)" [canEdit]="canEdit" (delete)="onDelete($event)" [canDelete]="canDelete" />
  </grid>
</div>
