<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/configuration/configuration-menu">Configuration</a></li>
  <li>{{typeName}}</li>
</ul>
<div class="container">
  <h1 class="title">{{typeName}}</h1>
  <grid [dataSource]="dataSource" [search]="true">
    <grid-column name="name" />
    <grid-boolean-column name="hidden" />
    <grid-boolean-column name="default" />
    <grid-boolean-column name="freeText" />
    <grid-action-column (add)="onAdd()" [canAdd]="canAdd" (edit)="onEdit($event)" [canEdit]="canEdit" (delete)="onDelete($event)" [canDelete]="canDelete" />
  </grid>
</div>
