<div #popupAnchor class="control">
  <div class="input" (click)="stop($event); togglePopup();" [class.tags-input]="showInlineTags">
    <span *ngIf="!showInlineTags">
      {{ placeholder || "&nbsp;" }}
    </span>
    <div class="tags" *ngIf="showInlineTags">
      <span class="tag" *ngFor="let item of pickedItems">
        <span class="text"><ng-container *ngTemplateOutlet="_pickedTemplate;context: { $implicit: item }"></ng-container></span><span (click)="stop($event); removeItem(item);" class="closer"><i class="fas fa-times"></i></span>
      </span>
    </div>
    <input #FocusInput [class]="focusInputClass" [formControl]="focusControl" type="text" placeholder="search..." (keyup)="focusKeyUp($event)" (keypress)="focusKeyPress($event)" (focus)="focus()" (blur)="blur()" />
  </div>
  <!-- Clear Icon -->
  <div *ngIf="!_isDisabled && enableClear && pickedItems.length !== 0" class="icon is-secondary" (click)="stop($event); clear();">
    <i class="fas fa-times"></i>
  </div>
  <!-- Open Icon -->
  <div *ngIf="!_isDisabled" class="icon is-secondary" (click)="stop($event); togglePopup();">
    <i class="fas fa-chevron-down"></i>
  </div>
</div>
<div class="dropdown-vertical-stack" *ngIf="verticalStack && pickedItems.length > 0">
  <span class="tag" *ngFor="let item of pickedItems">
    <span class="text"><ng-container *ngTemplateOutlet="_pickedTemplate;context: { $implicit: item }"></ng-container></span><span (click)="stop($event); removeItem(item);" class="closer"><i class="fas fa-times"></i></span>
  </span>
</div>
<input *ngIf="freeTextControl && pickedFreeText" [formControl]="freeTextControl" style="margin-top: 4px;" class="input" [placeholder]="freeTextPlaceholder || 'please specify other...'" />

<ng-template #defaultOptionTemplate let-item>
  {{ item.name }}
</ng-template>

<ng-template #defaultPickedTemplate let-item>
  {{ item.name }}
</ng-template>

<ng-template #popupTemplate>
  <div class="dropdown-popup">
    <div class="items" (scroll)="onDropDownScroll($event)">
      <div *ngFor="let item of optionItems; index as i" class="dropdown-item" (mousedown)="pickItem(item)" [class.active]="i == activeIndex" [class.picked]="picked(item)" (mouseover)="setActiveIndex(i)" (mouseenter)="setActiveIndex(i)">
        <ng-container *ngTemplateOutlet="_optionTemplate;context: { $implicit: item }"></ng-container>
      </div>
      <div *ngIf="optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
        Loading...
      </div>
      <div *ngIf="!optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
        <i>No items available</i>
      </div>
    </div>
  </div>
</ng-template>

