<div #popupAnchor class="control">
  <div class="input placeholder" *ngIf="pickedItems.length === 0" (click)="togglePopup($event)">
    {{ placeholder || "&nbsp;" }}
  </div>
  <div class="tag-input" *ngIf="pickedItems.length !== 0" (click)="togglePopup($event)">
    <span class="tag" *ngFor="let item of pickedItems">
      <span class="text"><ng-container *ngTemplateOutlet="_pickedTemplate;context: { $implicit: item }"></ng-container></span><span (click)="removeItem(item, $event)" class="closer"><i class="fas fa-times"></i></span>
    </span>
  </div>
  <!-- Clear Icon -->
  <div *ngIf="!_isDisabled && enableClear && pickedItems.length !== 0" class="icon is-secondary" (click)="clear($event)">
    <i class="fas fa-times"></i>
  </div>
  <!-- Open Icon -->
  <div *ngIf="!_isDisabled" class="icon is-secondary" (click)="togglePopup($event)">
    <i class="fas fa-chevron-down"></i>
  </div>
</div>

<ng-template #defaultOptionTemplate let-item>
  {{ item.name }}
</ng-template>

<ng-template #defaultPickedTemplate let-item>
  {{ item.name }}
</ng-template>

<ng-template #popupTemplate>
  <div class="dropdown-popup">
    <input placeholder="search" />
    <div class="items" (scroll)="onDropDownScroll($event)">
      <div *ngFor="let item of optionItems" class="dropdown-item" (click)="pickItem(item)">
        <ng-container *ngTemplateOutlet="_optionTemplate;context: { $implicit: item }"></ng-container>
      </div>
      <div *ngIf="optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
        Loading...
      </div>
      <div *ngIf="!optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
        <i>No items available</i>
      </div>
    </div>
  </div>
</ng-template>

