<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">My Activity</h1>
    </div>
    <div class="column">
      <div class="header-buttons">
        <button class="button is-primary" (click)="createUserActivity()">Add Activity</button>
      </div>
    </div>
  </div>
  <div *ngIf="items === null">
    <p>Loading...</p>
  </div>
  <div *ngIf="items !== null && items.length == 0">
    <div class="message is-primary">
      You have not yet recorded any activity.
    </div>
  </div>
  <div *ngIf="items !== null && items.length > 0" class="project-support-list">
    <div class="project-support" *ngFor="let userActivity of items">
      <div class="header">
        <div class="columns">
          <div class="column advisers">
            <span>{{ userActivity.date | date: 'dd-MMM-yy' }}</span>
          </div>
          <div class="column is-right">
            <button class="button is-small is-primary" (click)="editUserActivity(userActivity)">edit</button>
            <button class="button is-small is-danger" (click)="deleteUserActivity(userActivity)">delete</button>
          </div>
        </div>
        <div class="support-provided">
          <span class="tag">{{ (staticDataCache.workActivity.get({ id: userActivity.workActivityId }) | async)?.name }}</span>
        </div>
      </div>
      <pre class="description">{{ userActivity.description }}</pre>
    </div>
  </div>
</div>
