<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/support-request/support-request-list">Support Requests</a></li>
  <li><a routerLink="/support-request/support-request-item/{{ item.id }}">Support Request</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Support Request</h1>
    </div>
  </div>
  <support-request-tabs></support-request-tabs>
  <file-browser [fileStorageGroupId]="item.fileStorageGroupId" />
</div>
