<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/configuration/configuration-menu">Configuration</a></li>
  <li><a routerLink="/developer/heartbeat-list">Heartbeats</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Heartbeat</h1>
    </div>
  </div>
  <form class="form" [formGroup]="form">
    <div class="columns">
      <div class="column field">
        <label class="label">Name</label>
        <input type="text" class="input" formControlName="name" placeholder="required" />
      </div>
      <div class="column field">
        <label class="label">Provider Name</label>
        <input type="text" class="input" formControlName="providerName" placeholder="required" />
      </div>
      <div class="column field">
        <label class="label">Provider Parameter</label>
        <input type="text" class="input" formControlName="providerParameter" placeholder="optional" />
      </div>
      <div class="column field is-narrow">
        <label class="label">Live</label>
        <toggle-input formControlName="live"></toggle-input>
      </div>
    </div>
    <div class="columns">
      <div class="column field">
        <label class="label">Schedule</label>
        <input type="text" class="input" formControlName="schedule" placeholder="optional" />
      </div>
      <div class="column field">
        <label class="label">Min Time</label>
        <input type="text" class="input" formControlName="minTime" placeholder="optional" />
      </div>
      <div class="column field">
        <label class="label">maxTime</label>
        <input type="text" class="input" formControlName="maxTime" placeholder="optional" />
      </div>
      <div class="column field is-narrow">
        <label class="label">Log</label>
        <toggle-input formControlName="logSuccessfulExecutions"></toggle-input>
      </div>
    </div>
  </form>
  <div class="floating-buttons">
    <button class="button is-success" (click)="save(false)">Save</button>
    <button class="button is-success" (click)="save(true)">Save &amp; Close</button>
    <button class="button" (click)="cancel()">Cancel</button>
  </div>
</div>


