
<div class="container">
  <h1 class="title">Widgets</h1>
  <div class="table">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th class="is-narrow is-right">
            <a class="link is-success" (click)="add()">add</a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bob</td>
          <td>42</td>
          <td>
            <div class="links">
              <a class="link is-primary" (click)="edit()">edit</a>
              <a class="link is-danger">delete</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>42</td>
          <td></td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>42</td>
          <td></td>
        </tr>
        <tr>
          <td>Bob</td>
          <td>42</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


