
<div class="file-list">
  <form [formGroup]="form">
    <file-input formControlName="files" [showFiles]="false" [progress]="progress"></file-input>
  </form>
  <grid [dataSource]="fileStorageEntryApi" (filter)="filter($event)" [search]="true">
    <grid-column name="filename">
      <ng-template #itemTemplate let-item>
        <a class="link is-primary" target="blank" href="{{ sasRedirect(item) }}"><i class="fas fa-link"></i>&nbsp;{{ item.fileName }}</a>
      </ng-template>
    </grid-column>
    <grid-column name="size">
      <ng-template #itemTemplate let-item>
        {{ formatSize(item) }}
      </ng-template>
    </grid-column>
    <grid-datetime-column name="uploadedAt" />
    <grid-column name="uploadedBy">
      <ng-template #itemTemplate let-item>
        <div *ngIf="item.uploadedByUserId === null">
          <i>Support Request Form</i>
        </div>
        <div *ngIf="item.uploadedByUserId !== null">
          {{ (userLookup.get({ id: item.uploadedByUserId }) | async)?.fullName }}
        </div>
      </ng-template>
    </grid-column>
    <grid-column justify="right">
      <ng-template #itemTemplate let-item>
        <a class="link is-danger" (click)="deleteFile(item)">delete</a>
      </ng-template>
    </grid-column>
  </grid>
</div>

