<h4>
  {{ (widget|async)?.headerText }}
  <a style="opacity: 0.3" *ngIf="!isProcessing()" (click)="editConfig()"><i class="fas fa-fw fa-cog"></i></a>
  <i style="opacity: 0.3" *ngIf="isProcessing()" class="fas fa-fw fa-spin fa-sync-alt"></i>
</h4>

<grid [dataSource]="dataSource" stateKey="TeamActivityWidget:{(widget|async)?.id">
  <grid-column name="name" />
  <grid-number-column name="projectSupportHours" format="0.1-1" />
  <grid-number-column name="userActivityHours" format="0.1-1" />
  <grid-number-column name="totalHours" format="0.1-1" />
  <grid-number-column name="fullTimeEquivalent" format="0.2-2" />
</grid>

<ng-template #configDialog>
  <form class="form dialog" [formGroup]="configForm">
    <div class="dialog-head is-primary">
      Configure Widget
    </div>
    <div class="dialog-body">
      <div class="field">
        <label class="label">Support Team</label>
        <dropdown-select [dataSource]="staticDataCache.supportTeam" placeholder="required" formControlName="supportTeamId"></dropdown-select>
      </div>
    </div>
    <div class="dialog-buttons">
      <button type="submit" class="is-primary" (click)="saveConfig()">Save</button>
      <button type="button" (click)="cancelConfig()">Cancel</button>
    </div>
  </form>
</ng-template>


