<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/support-request/support-request-list">Triage Support Requests</a></li>
</ul>
<div class="container">
  <h1 class="title">Triage Support Requests</h1>

  <div class="filter-form">
    <form class="form" [formGroup]="filterForm">
      <div class="flex">
        <div class="field is-3">
          <input class="input" type="text" formControlName="number" placeholder="Number" />
        </div>
        <div class="field is-9">
          <input class="input" type="text" formControlName="title" placeholder="Title" />
        </div>
      </div>
      <div class="flex">
        <div class="field is-4">
          <dropdown-select [dataSource]="staticDataCache.supportRequestStatus" placeholder="Status" formControlName="statusId" [enableClear]="true"></dropdown-select>
        </div>
        <div class="field is-4">
          <date-picker placeholder="From Date" formControlName="fromDate" [enableClear]="true" />
        </div>
        <div class="field is-4">
          <date-picker placeholder="To Date" formControlName="toDate" [enableClear]="true" />
        </div>
        <div class="is-12 is-right">
          <button (click)="resetFilterForm()" class="button is-small">show all</button>
        </div>
      </div>
    </form>
  </div>

  <grid [dataSource]="supportRequestApi" [filterForm]="filterForm" stateKey="SupportRequestList">
    <grid-column name="prefixedNumber" label="Number" />
    <grid-date-column name="dateOfRequest" label="Date" />
    <grid-reference-column [dataSource]="staticDataCache.supportRequestStatus" name="statusId" />
    <grid-column name="title" />
    <grid-date-column name="targetSubmissionDate" label="Target Submission Date" />
    <grid-action-column [canDelete]="false" (add)="add()" (edit)="edit($event)" />
  </grid>
</div>


