<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/project/project-list">Projects</a></li>
  <li><a routerLink="/project/project-item/{{ item.id }}">Project</a></li>
</ul>
<div class="container">
  <project-tabs></project-tabs>
  <div class="flex">
    <div class="is-5">
      <div class="project-support-summary table">
        <table>
          <thead>
            <tr>
              <th colspan="2">Support Provided</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td>
                {{ category.name }}
              </td>
              <td class="inactive" *ngIf="!containsCategory(category)">
                <i class="far fa-fw fa-times"></i>
              </td>
              <td class="active" *ngIf="containsCategory(category)">
                <i class="fas fa-fw fa-check"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="is-7">
      <div *ngIf="items === null">
        <p>Loading...</p>
      </div>
      <div *ngIf="items !== null && items.length == 0">
        <div class="message is-primary">
          No support events have been recorded for this project.
        </div>
      </div>
      <div *ngIf="items !== null && items.length > 0" class="project-support-list">
        <div class="project-support" *ngFor="let projectSupport of items">
          <div class="header">
            <div class="columns">
              <div class="column advisers">
                <span>{{ projectSupport.date | date: 'dd-MMM-yy' }}</span><span *ngFor="let id of projectSupport.adviserIds">&nbsp;|&nbsp;{{ (userLookup.get({ id: id }) | async)?.email }}</span>
              </div>
              <div class="column is-right">
                <button class="button is-small is-primary" (click)="editProjectSupport(projectSupport)">edit</button>
                <button class="button is-small is-danger" (click)="deleteProjectSupport(projectSupport)">delete</button>
              </div>
            </div>
            <div class="support-provided">
              <span class="tag" *ngFor="let id of projectSupport.supportProvidedIds">{{ (staticDataCache.supportProvided.get({ id: id }) | async)?.name }}</span>
            </div>
          </div>
          <pre class="description">{{ projectSupport.description }}</pre>
        </div>
      </div>
    </div>
  </div>

  
  <div class="floating-buttons">
    <button class="button" (click)="cancel()">Close</button>
  </div>
</div>
