<div #popupAnchor class="control">
    <div class="dropdown-tags-input input" (click)="togglePopup();" [class.showing-tags]="showInlineTags" [class.placeholder]="!showInlineTags">
        <span *ngIf="!showInlineTags">
            {{ placeholder || "&nbsp;" }}
        </span>
        <div class="dropdown-tags" *ngIf="showInlineTags">
            <span class="dropdown-tag" *ngFor="let item of pickedItems">
                <span class="text"><ng-container *ngTemplateOutlet="_pickedTemplate;context: { $implicit: item }"></ng-container></span><span (click)="removeItemEvent(item, $event);" class="closer"><i class="fas fa-times"></i></span>
            </span>
        </div>
        <!-- Focus Input -->
        <input #FocusInput class="dropdown-focus-input" [formControl]="focusControl" type="text" (keyup)="focusKeyUp($event)" (keypress)="focusKeyPress($event)" />
    </div>
    <!-- Clear Icon -->
    <div *ngIf="!_isDisabled && enableClear && pickedItems.length !== 0" class="icon is-secondary" (click)="clear();">
        <i class="fas fa-times"></i>
    </div>
    <!-- Open Icon -->
    <div *ngIf="!_isDisabled" class="icon is-secondary" (click)="togglePopup();">
        <i class="fas fa-chevron-down"></i>
    </div>
</div>
<div class="dropdown-vertical-stack" *ngIf="verticalStack && pickedItems.length > 0">
    <span class="tag" *ngFor="let item of pickedItems">
        <span class="text"><ng-container *ngTemplateOutlet="_pickedTemplate;context: { $implicit: item }"></ng-container></span><span (click)="removeItem(item);" class="closer"><i class="fas fa-times"></i></span>
    </span>
</div>
<input *ngIf="freeTextControl && pickedFreeText" [formControl]="freeTextControl" style="margin-top: 4px;" class="input" [placeholder]="freeTextPlaceholder || 'please specify other...'" />

<ng-template #defaultOptionTemplate let-item>
    {{ formatItem(item) }}
</ng-template>

<ng-template #defaultPickedTemplate let-item>
    {{ formatItem(item) }}
</ng-template>

<ng-template #popupTemplate>
    <div class="dropdown-popup">
        <div class="dropdown-popup-form">
            <input #SearchInput class="dropdown-search-input" [formControl]="searchControl" placeholder="search..." type="text" (keyup)="searchKeyUp($event)" (keydown)="searchKeyDown($event)" (keypress)="searchKeyPress($event)" />
        </div>
        <div class="items" (scroll)="onDropDownScroll($event)">
            <div *ngFor="let item of optionItems; index as i" class="dropdown-item" (mousedown)="pickItemEvent(item, $event)" [class.active]="i == activeIndex" [class.picked]="picked(item)" (mouseover)="setActiveIndex(i)" (mouseenter)="setActiveIndex(i)">
                <ng-container *ngTemplateOutlet="_optionTemplate;context: { $implicit: item }"></ng-container>
            </div>
            <div *ngIf="optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
                Loading...
            </div>
            <div *ngIf="!optionItemsCallback && optionItems.length == 0" class="dropdown-loading">
                <i>No items available</i>
            </div>
        </div>
    </div>
</ng-template>

