@page
@model Webfuel.App.Pages.RequestFormModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/external.css" />
</head>
<body>
    <div class="container">
        <h1>Test Support Request Form</h1>

        <div class="flex">
            <div class="field is-6">
                <label class="label">What do you want?</label>
                <input class="input" type="text" name="Name" />
            </div>
        </div>

    </div>
</body>
</html>
