<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/configuration/configuration-menu">Configuration</a></li>
  <li><a routerLink="/developer/heartbeat-list">Heartbeats</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Heartbeats</h1>
    </div>
  </div>


  <grid [dataSource]="heartbeatApi">
    <grid-column name="name">
      <ng-template #itemTemplate let-item>
        <div class="text">
          <div><b>{{ item.name }}</b></div>
          <div>{{ item.providerName }}</div>
        </div>
      </ng-template>
    </grid-column>
    <grid-column name="Last Execution">
      <ng-template #itemTemplate let-item>
        <div *ngIf="item.lastExecutionAt !== null" class="text">
          <div [style.color]="item.lastExecutionSuccess ? 'green' : 'red'">
            <b>{{ item.lastExecutionMessage }}</b>
          </div>
          <div>
            {{ item.lastExecutionAt | date: 'dd/MM/yy HH:mm' }}
            {{ item.lastExecutionMicroseconds }} &#181;s
          </div>
        </div>
        <div *ngIf="item.lastExecutionAt === null">
          <i>None</i>
        </div>
      </ng-template>
    </grid-column>
    <grid-column name="Schedule">
      <ng-template #itemTemplate let-item>
        <div *ngIf="item.live" class="text">
          <div>
            {{ item.nextExecutionScheduledAt | date: 'dd/MM/yy HH:mm' }}
          </div>
          <div>
            {{ schedule(item) }} {{ item.minTime }} {{ item.maxTime }}
          </div>
          <div *ngIf="item.schedulerExceptionMessage" style="color:red">{{ item.schedulerExceptionMessage}}</div>
        </div>
        <div *ngIf="!item.live">
          <i>Not Running</i>
        </div>
      </ng-template>
    </grid-column>

    <grid-column name="Health">
      <ng-template #itemTemplate let-item>
        <div class="text">
          <div [style.color]="healthPercentage(item) == '100.00%' ? 'green' : 'red'" style="font-weight: bold">
            {{ healthPercentage(item) }}
          </div>
          <div>
            {{ item.recentExecutionMicrosecondsAverage }} &#181;s
          </div>
        </div>
      </ng-template>
    </grid-column>

    <grid-boolean-column name="live" />
    <grid-boolean-column name="log" />

    <grid-column name="actions" justify="right">
      <ng-template #headTemplate>
        <a class="link is-success" (click)="add()">add</a>
      </ng-template>
      <ng-template #itemTemplate let-item>
        <a class="link is-warning" (click)="execute(item)">run</a>
        &nbsp;
        <a class="link is-primary" (click)="edit(item)">edit</a>
      </ng-template>
    </grid-column>


  </grid>

</div>


