<!-- Head Templates -->

<ng-template #sortHeadTemplate let-dataSource="dataSource">
  <data-sorter [column]="name" [label]="label" [dataSource]="dataSource"></data-sorter>
</ng-template>

<ng-template #textHeadTemplate>
  {{ label }}
</ng-template>

<!-- Item Templates -->

<ng-template #textItemTemplate let-item>
  {{ item[name] }}
</ng-template>

<ng-template #boldItemTemplate let-item>
  <b>{{ item[name] }}</b>
</ng-template>

<ng-template #flagItemTemplate let-item>
  <span *ngIf="item[name]"  class="fas fa-check"></span>
  <span *ngIf="!item[name]" class="fas fa-times" style="opacity: 0.2;"></span>
</ng-template>

<ng-template #dateItemTemplate let-item>
  {{ item[name] | date: 'dd MMM yyyy' }}
</ng-template>

<ng-template #dateTimeItemTemplate let-item>
  {{ item[name] | date: 'dd MMM yyyy HH:mm' }}
</ng-template>





