<form class="form dialog" [formGroup]="form">
  <div class="dialog-head">
    Add Project Support
  </div>
  <div class="dialog-body">
    <div class="grid">
      <div class="field">
        <label class="label">Date of support</label>
        <date-picker placeholder="optional (defaults to today)" formControlName="date"></date-picker>
      </div>
      <div class="field">
        <label class="label">Advisers (include all advisers providing support)</label>
        <dropdown-multi-select [dataSource]="userApi" placeholder="required" formControlName="adviserIds">
          <ng-template #optionTemplate let-item>
            {{ item.email }}
          </ng-template>
          <ng-template #pickedTemplate let-item>
            {{ item.email }}
          </ng-template>
        </dropdown-multi-select>
      </div>
      <div class="field">
        <label class="label">Support provided (include all types of support provided)</label>
        <dropdown-multi-select [dataSource]="staticDataCache.supportProvided" placeholder="required" formControlName="supportProvidedIds"></dropdown-multi-select>
      </div>
      <div class="field">
        <label class="label">Description of support</label>
        <textarea style="height: 400px" class="textarea" formControlName="description" placeholder="required"></textarea>
      </div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button type="submit" class="is-success" (click)="save()">Add</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

