<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/user/user-list">Users</a></li>
</ul>
<div class="container">
  <h1 class="title">Users</h1>
  <grid [dataSource]="userApi.userDataSource" [search]="true">
    <grid-column name="email" />
    <grid-reference-column name="userGroupId" [dataSource]="userGroupApi.userGroupDataSource" />
    <grid-date-column name="birthday" />
    <grid-crud-column (add)="add()" (edit)="edit($event)" (delete)="delete($event)" />
  </grid>
</div>


