<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/support-request/support-request-list">Support Requests</a></li>
  <li><a routerLink="/support-request/support-request-item/{{ item.id }}">Support Request</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Support Request</h1>
    </div>
    <div class="column" *ngIf="!locked">
      <div class="header-buttons">
        <button class="button is-warning" (click)="triage()">Triage</button>
      </div>
    </div>
  </div>
  <support-request-tabs></support-request-tabs>
  <div class="message is-primary">{{ supportRequestStatus?.name }}</div>
  <form class="form" [formGroup]="form">
    <div class="flex">
      <div class="field is-12">
        <label class="label">Working title of the project</label>
        <input class="input" type="text" placeholder="required" formControlName="title" />
      </div>
      <div class="field is-6">
        <label class="label">Stage of application</label>
        <dropdown-select [dataSource]="staticDataCache.applicationStage" [freeTextControl]="form.controls.applicationStageFreeText" placeholder="required" formControlName="applicationStageId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Is this application for a fellowship?</label>
        <dropdown-select [dataSource]="staticDataCache.isFellowship" placeholder="required" formControlName="isFellowshipId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Proposed funding stream</label>
        <dropdown-select [dataSource]="staticDataCache.fundingStream" placeholder="required" formControlName="proposedFundingStreamId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Funding stream name / specialist call if known</label>
        <input class="input" type="text" placeholder="optional" formControlName="proposedFundingStreamName" />
      </div>
      <div class="field is-6">
        <label class="label">Type of call</label>
        <dropdown-select [dataSource]="staticDataCache.fundingCallType" placeholder="required" formControlName="proposedFundingCallTypeId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Target submission date (if known)</label>
        <date-picker placeholder="optional" formControlName="targetSubmissionDate"></date-picker>
      </div>
      <div class="field is-6">
        <label class="label">Have your team members been consulted for support?</label>
        <dropdown-select [dataSource]="staticDataCache.isTeamMembersConsulted" placeholder="required" formControlName="isTeamMembersConsultedId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Has the application or similar been submitted to a funder before?</label>
        <dropdown-select [dataSource]="staticDataCache.isResubmission" placeholder="required" formControlName="isResubmissionId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">How did you hear about our hub?</label>
        <dropdown-select [dataSource]="staticDataCache.howDidYouFindUs" [freeTextControl]="form.controls.howDidYouFindUsFreeText" placeholder="required" formControlName="howDidYouFindUsId"></dropdown-select>
      </div>
      <div class="field is-12">
        <label class="label">What is your (or the CIs)  experience of securing funding awards?</label>
        <textarea class="textarea" formControlName="experienceOfResearchAwards" placeholder="required"></textarea>
      </div>
      <div class="field is-12">
        <label class="label">
          Please add a brief description of your proposed study. Where possible include an outline of research question, aims, need and methods (including analysis), potential impact. [max 500 words]
        </label>
        <textarea class="textarea" formControlName="briefDescription" placeholder="required"></textarea>
      </div>
      <div class="field is-12">
        <label class="label">
          What support are you looking for from RSS?  Eg funding advice, methods advice, PPIE and EDI advice, CTU support, training in methods for grants?
        </label>
        <textarea class="textarea" formControlName="supportRequested" placeholder="required"></textarea>
      </div>
    </div>
    <div class="floating-buttons" *ngIf="!locked">
      <button class="button is-success" (click)="save(false)">Save</button>
      <button class="button is-success" (click)="save(true)">Save &amp; Close</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </div>
    <div class="floating-buttons" *ngIf="locked">
      <button *ngIf="!referred" class="button is-warning" (click)="unlock()">Unlock</button>
      <button class="button" (click)="cancel()">Close</button>
    </div>
  </form>
  <p>Created {{ item.createdAt | date: 'dd MMM yy HH:mm'}}</p>
</div>
