<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/configuration/configuration-menu">Configuration</a></li>
  <li><a routerLink="/configuration/global-file-list">File Library</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">File Library</h1>
      <div class="message">Files added to this file group will be available to attach to outgoing emails.</div>
      <file-browser [fileStorageGroupId]="globalFileStorageGroupId" />
    </div>
  </div>
</div>
