<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/configuration/configuration-menu">Configuration</a></li>
  <li><a routerLink="/user/user-group-list">User Groups</a></li>
  <li><a routerLink="/user/user-group-item/{{ item.id }}">User Group</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">User Group</h1>
    </div>
    <div class="column">
      <div class="buttons is-right">
      </div>
    </div>
  </div>
  <user-group-tabs></user-group-tabs>
  <form class="form" [formGroup]="form">

    <div class="flex">
      <div class="field is-6">
        <div class="checkbox">
          <label><input type="checkbox" formControlName="canEditUsers" /> Can Edit Users</label>
        </div>
      </div>
      <div class="field is-6">
        <div class="checkbox">
          <label><input type="checkbox" formControlName="canEditUserGroups" /> Can Edit User Groups</label>
        </div>
      </div>
      <div class="field is-6">
        <div class="checkbox">
          <label><input type="checkbox" formControlName="canEditStaticData" /> Can Edit Static Data</label>
        </div>
      </div>
      <div class="field is-6">
        <div class="checkbox">
          <label><input type="checkbox" formControlName="canUnlockProjects" /> Can Unlock Projects</label>
        </div>
      </div>
      <div class="field is-6">
        <div class="checkbox">
          <label><input type="checkbox" formControlName="canTriageSupportRequests" /> Can Triage Support Requests</label>
        </div>
      </div>
      <div class="field is-6">
        <div class="checkbox">
          <label><input type="checkbox" formControlName="canEditReports" /> Can Access Reports</label>
        </div>
      </div>
    </div>

    <div class="floating-buttons">
      <button class="button is-success" (click)="save(false)">Save</button>
      <button class="button is-success" (click)="save(true)">Save &amp; Close</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
