<div class="chrome" [class.collapsed]="chromeCollapsed" [class.hidden]="chromeHidden">
  <div class="chrome-head">
    <div class="navbar">
      <div class="columns is-align-center">
        <div class="column">
          <h1>RSS Project Database</h1>
        </div>
        <div class="column is-right">
          {{ (configuration | async)?.email }}
        </div>
      </div>
    </div>
  </div>
  <div class="chrome-body">
    <div class="chrome-side">
      <div class="sidebar">
        <ul class="sidebar-list">
          <li><a [class.active]="activeSideMenu=='Home'" routerLink="/home"><i class="fas fa-envelope"></i><span>Home</span></a></li>
          <li><a [class.active]="activeSideMenu=='Users'" routerLink="/user/user-list"><i class="fas fa-envelope"></i><span>Users</span></a></li>
          <li><a [class.active]="activeSideMenu=='UserGroups'" routerLink="/user/user-group-list"><i class="fas fa-envelope"></i><span>User Groups</span></a></li>
          <li><a (click)="logout()"><i class="fas fa-envelope"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    <div class="chrome-main">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<div class="growl-container">
  <div *ngFor="let growl of growlService.growls | async" class="growl {{ growl.class }}">
    <div>{{ growl.message }}</div>
  </div>
</div>

