<div class="chrome">
  <div class="chrome-head">
    <div class="navbar">
      <h3>RSS Project Database</h3>
    </div>
  </div>
  <div class="chrome-body">
    <div class="chrome-side">
      <div class="sidebar">
        <ul class="sidebar-list">
          <li class="is-active"><a href=""><i class="fas fa-envelope"></i><span>An Option</span></a></li>
          <li><a href=""><i class="fas fa-envelope"></i><span>An Option</span></a></li>
          <li><a href=""><i class="fas fa-envelope"></i><span>An Option</span></a></li>
          <li><a href=""><i class="fas fa-envelope"></i><span>An Option</span></a></li>
          <li><a href=""><i class="fas fa-envelope"></i><span>An Option</span></a></li>
        </ul>
      </div>
    </div>
    <div class="chrome-main">
      <ng-content></ng-content>
    </div>
  </div>
</div>


