<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/project/project-list">Projects</a></li>
  <li><a routerLink="/project/project-item/{{ item.id }}">Project</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Project {{ item.prefixedNumber }}</h1>
    </div>
  </div>
  <project-tabs></project-tabs>
  <div class="diagnostic-list message is-danger" *ngIf="item.diagnosticCount > 0">
    <div *ngFor="let diagnostic of item.diagnosticList" class="diagnostic-item severity-{{ diagnostic.severity }}">
      <i class="fas fa-exclamation-triangle"></i> {{ diagnostic.message}}
    </div>
  </div>
  <form class="form" [formGroup]="form">
    <div class="flex">
      <div class="field is-12">
        <label class="label">Working title of the project</label>
        <input class="input" type="text" placeholder="required" formControlName="title" />
      </div>
    </div>
    <div class="flex no-margin">
      <div class="is-9">
        <div class="flex">
          <div class="field is-4">
            <label class="label">
              Status
              <span class="text is-warning" *ngIf="projectStatus && projectStatus.id != form.value.statusId">(changing from {{ projectStatus.name }})</span>
            </label>
            <dropdown-select [optionFilter]="filterStatus" [dataSource]="staticDataCache.projectStatus" placeholder="required" formControlName="statusId"></dropdown-select>
          </div>
          <div class="field is-4">
            <label class="label">Closure date</label>
            <date-picker placeholder="optional" formControlName="closureDate" [enableClear]="true"></date-picker>
          </div>
          <div class="field is-4">
            <label class="label">Lead Adviser</label>
            <dropdown-select [dataSource]="userApi" placeholder="required" formControlName="leadAdviserUserId" [enableClear]="true" [enableSearch]="true">
              <ng-template #optionTemplate let-item>
                {{ item.fullName }}
              </ng-template>
              <ng-template #pickedTemplate let-item>
                {{ item.fullName }}
              </ng-template>
            </dropdown-select>
          </div>
        </div>
        <div class="flex">
          <div class="field is-12">
            <label class="label">Administrator Comments</label>
            <text-area formControlName="administratorComments" placeholder="optional"></text-area>
          </div>
        </div>
      </div>
      <div class="is-3">
        <div class="field">
          <label class="label">Support Advisers</label>
          <dropdown-multi-select [dataSource]="userApi" [verticalStack]="true" placeholder="click to add..." formControlName="projectAdviserUserIds" [enableSearch]="true">
            <ng-template #optionTemplate let-item>
              {{ item.fullName }}
            </ng-template>
            <ng-template #pickedTemplate let-item>
              {{ item.fullName }}
            </ng-template>
          </dropdown-multi-select>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="field is-6">
        <label class="label">Will this study use a CTU?</label>
        <dropdown-select [dataSource]="staticDataCache.willStudyUseCTU" placeholder="required" formControlName="willStudyUseCTUId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Monetary value of funding application</label>
        <number-input placeholder="required" prefix="£" formControlName="monetaryValueOfFundingApplication" />
      </div>
    </div>
    <div class="flex">
      <div class="field is-6">
        <label class="label">Funding stream submitted to</label>
        <dropdown-select [dataSource]="staticDataCache.fundingStream" [freeTextControl]="form.controls.submittedFundingStreamFreeText" placeholder="required" formControlName="submittedFundingStreamId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Funding stream name</label>
        <input class="input" type="text" placeholder="optional" formControlName="submittedFundingStreamName" />
      </div>
    </div>
    <div class="flex">
      <div class="field is-12">
        <label class="label">
          RSS hubs involved in providing advice (other than Imperial College London and Partners)
        </label>
        <dropdown-multi-select [dataSource]="staticDataCache.rssHub" placeholder="optional" formControlName="rssHubProvidingAdviceIds"></dropdown-multi-select>
      </div>
    </div>
    <div class="flex">
      <div class="field is-6">
        <label class="label">Is a paid RSS staff member, who provided advice, the lead/co-lead for this application?</label>
        <dropdown-select [dataSource]="staticDataCache.isPaidRSSAdviserLead" placeholder="required" formControlName="isPaidRSSAdviserLeadId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Is a paid RSS staff member, who provided advice, a co-applicant for this application?</label>
        <dropdown-select [dataSource]="staticDataCache.isPaidRSSAdviserCoapplicant" placeholder="required" formControlName="isPaidRSSAdviserCoapplicantId"></dropdown-select>
      </div>
    </div>

    <div class="flex">
      <div class="is-6">
        <div class="flex">
          <div class="form-heading is-12">
            <h2 style="margin-bottom: 0.5rem">Outline Application</h2>
            <hr style="margin-top: 0" />
          </div>
          <div class="field is-inline is-12">
            <label class="label">Outline submission deadline</label>
            <date-picker placeholder="optional" formControlName="outlineSubmissionDeadline" [enableClear]="true"></date-picker>
          </div>
          <div class="field is-inline is-12">
            <label class="label">Outline submission status</label>
            <dropdown-select [dataSource]="staticDataCache.outlineSubmissionStatus" placeholder="optional" formControlName="outlineSubmissionStatusId"></dropdown-select>
          </div>
          <div class="field is-inline is-12">
            <label class="label">Outline outcome expected</label>
            <date-picker placeholder="optional" formControlName="outlineOutcomeExpectedDate" [enableClear]="true"></date-picker>
          </div>
          <div class="field is-inline is-12">
            <label class="label">Outline outcome</label>
            <dropdown-select [dataSource]="staticDataCache.outlineOutcome" placeholder="optional" formControlName="outlineOutcomeId"></dropdown-select>
          </div>
        </div>
      </div>
      <div class="is-6">
        <div class="flex">
          <div class="form-heading is-12">
            <h2 style="margin-bottom: 0.5rem">Full Application</h2>
            <hr style="margin-top: 0" />
          </div>
          <div class="field is-inline is-12">
            <label class="label">Full submission deadline</label>
            <date-picker placeholder="optional" formControlName="fullSubmissionDeadline" [enableClear]="true"></date-picker>
          </div>
          <div class="field is-inline is-12">
            <label class="label">Full submission status</label>
            <dropdown-select [dataSource]="staticDataCache.fullSubmissionStatus" placeholder="optional" formControlName="fullSubmissionStatusId"></dropdown-select>
          </div>
          <div class="field is-inline is-12">
            <label class="label">Full outcome expected</label>
            <date-picker placeholder="optional" formControlName="fullOutcomeExpectedDate" [enableClear]="true"></date-picker>
          </div>
          <div class="field is-inline is-12">
            <label class="label">Full outcome</label>
            <dropdown-select [dataSource]="staticDataCache.fullOutcome" placeholder="optional" formControlName="fullOutcomeId"></dropdown-select>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h3>For Clinical Trial Submissions</h3>
    <div class="flex">
      <div class="field is-3 is-6-md">
        <label class="label">Project start date</label>
        <date-picker placeholder="optional" formControlName="projectStartDate"></date-picker>
      </div>
      <div class="field is-3 is-6-md">
        <label class="label">Recruitment target</label>
        <input type="number" placeholder="optional" class="input" formControlName="recruitmentTarget" />
      </div>
      <div class="field is-3 is-6-md">
        <label class="label">Number of project sites</label>
        <input type="number" placeholder="optional" class="input" formControlName="numberOfProjectSites" />
      </div>
      <div class="field is-3 is-6-md">
        <label class="label">Is this an international multi-site study</label>
        <dropdown-select [dataSource]="staticDataCache.isInternationalMultiSiteStudy" placeholder="optional" formControlName="isInternationalMultiSiteStudyId"></dropdown-select>
      </div>
    </div>
    <hr />
    <h2>Other Information</h2>
    <div class="flex">
      <div class="field is-3">
        <label class="label">Social care</label>
        <toggle-input formControlName="socialCare" />
      </div>
      <div class="field is-3">
        <label class="label">Public health</label>
        <toggle-input formControlName="publicHealth" />
      </div>
    </div>
    <div *ngIf="!locked" class="floating-buttons">
      <button class="button is-success" (click)="save(false)">Save</button>
      <button class="button is-success" (click)="save(true)">Save &amp; Close</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </div>
    <div *ngIf="locked" class="floating-buttons">
      <button *ngIf="canUnlock()" class="button is-warning" (click)="unlock()">Unlock</button>
      <button class="button" (click)="cancel()">Close</button>
    </div>
  </form>
  <p>
    <span>Created {{ item.createdAt | date: 'dd MMM yy'}}.</span>
    &nbsp;&nbsp;
    <span style="opacity: 0.5">Checked {{ item.heartbeatExecutedAt | date: 'dd MMM yy HH:mm' }}.</span>
  </p>
  <p *ngIf="isRoundRobinEnquiry()">Enquiry came via NIHR round robin link</p>
</div>

