<ul class="breadcrumbs">
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/project/project-list">Projects</a></li>
  <li><a routerLink="/project/project-item/{{ item.id }}">Project</a></li>
</ul>
<div class="container">
  <div class="columns">
    <div class="column">
      <h1 class="title">Project {{ item.prefixedNumber }}</h1>
    </div>
  </div>
  <project-tabs></project-tabs>
  <form class="form" [formGroup]="form">
    <div class="flex">
      <div class="field is-3">
        <label class="label">
          Status
          <span class="text is-warning" *ngIf="projectStatus && projectStatus.id != form.value.statusId">(changing from {{ projectStatus.name }})</span>
        </label>
        <dropdown-select [dataSource]="staticDataCache.projectStatus" placeholder="required" formControlName="statusId"></dropdown-select>
      </div>

      <div class="field is-3">
        <label class="label">Lead Adviser</label>
        <dropdown-select [dataSource]="userApi" placeholder="required" formControlName="leadAdviserUserId"  [enableClear]="true" [enableSearch]="true">
          <ng-template #optionTemplate let-item>
            {{ item.fullName }}
          </ng-template>
          <ng-template #pickedTemplate let-item>
            {{ item.fullName }}
          </ng-template>
        </dropdown-select>
      </div>
    </div>
    <div class="flex">
      <div class="field is-6">
        <label class="label">Funding stream submitted to</label>
        <dropdown-select [dataSource]="staticDataCache.fundingStream" [freeTextControl]="form.controls.submittedFundingStreamFreeText" placeholder="optional" formControlName="submittedFundingStreamId"></dropdown-select>
      </div>
      <div class="field is-6">
        <label class="label">Funding stream name</label>
        <input class="input" type="text" placeholder="optional" formControlName="submittedFundingStreamName" />
      </div>
    </div>

    <hr />
    <h3>For Clinical Trial Submissions</h3>

    <div class="flex">
      <div class="field is-3 is-6-md">
        <label class="label">Project start date</label>
        <date-picker placeholder="optional" formControlName="projectStartDate"></date-picker>
      </div>
      <div class="field is-3 is-6-md">
        <label class="label">Recruitment target</label>
        <input type="number" placeholder="optional" class="input" formControlName="recruitmentTarget" />
      </div>
      <div class="field is-3 is-6-md">
        <label class="label">Number of project sites</label>
        <input type="number" placeholder="optional" class="input" formControlName="numberOfProjectSites" />
      </div>
      <div class="field is-3 is-6-md">
        <label class="label">Is this an international multi-site study</label>
        <dropdown-select [dataSource]="staticDataCache.isInternationalMultiSiteStudy" placeholder="optional" formControlName="isInternationalMultiSiteStudyId"></dropdown-select>
      </div>
    </div>

    <div *ngIf="!locked" class="floating-buttons">
      <button class="button is-success" (click)="save(false)">Save</button>
      <button class="button is-success" (click)="save(true)">Save &amp; Close</button>
      <button class="button" (click)="cancel()">Cancel</button>
    </div>
    <div *ngIf="locked" class="floating-buttons">
      <button *ngIf="canUnlock()" class="button is-warning" (click)="unlock()">Unlock</button>
      <button class="button" (click)="cancel()">Close</button>
    </div>

  </form>
  <p>
    <span>Created {{ item.createdAt | date: 'dd MMM yy'}}.</span>
    <span *ngIf="item.closureDate">&nbsp;&nbsp;Closed {{ item.closureDate | date: 'dd MMM yy' }}.</span>
  </p>
</div>

