<div class="dialog">
  @if(mode == "manage"){
  <div class="dialog-head">
    Manage Widgets <span style="float:right"><a class="link" (click)="addWidget()">+ add widget</a></span>
  </div>
  <div class="dialog-body">
    <div class="report-designer">
      <div class="report-slots" cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="dropWidget($event)" [cdkDropListDisabled]="false">
        @if(widgets != null) {
        <div class="report-slot" *ngFor="let widget of widgets" cdkDrag>
          <div class="columns">
            <div class="column">
              <span cdkDragHandle>
                <i class="fas fa-fw fa-bars"></i>
              </span>
              &nbsp;
              <span>{{ widget.headerText }}</span>
              &nbsp;
            </div>
            <div class="column is-right is-narrow">
              <a class="link is-warning" (click)="deleteWidget(widget)">remove</a>
            </div>
          </div>
        </div>
        <div class="report-slot" *ngIf="widgets.length == 0">
          There are no widgets specified on this dashboard.
        </div>
        }
      </div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button type="button" (click)="close()">Close</button>
  </div>
  } @else if(mode == "add"){
  <div class="dialog-head">
    Add Widget
  </div>
  <div class="dialog-body">
    <div class="widget-types">
      <a *ngFor="let widgetType of widgetTypes" (click)="addWidgetType(widgetType)">
        <div class="name">{{ widgetType.name }}</div>
        <div class="description">{{ widgetType.description }}</div>
      </a>
    </div>
  </div>
  <div class="dialog-buttons">
    <button type="button" (click)="cancelAdd()">Cancel</button>
  </div>
  } @else if(mode == "edit"){
  }
</div>

