<div class="data-pager" *ngIf="dataSource && dataSource.queryResult.totalCount >= 0">
  <div class="columns is-mobile">
    <div class="column">
      <div *ngIf="pageCount <= 1">
      </div>
      <div *ngIf="pageCount > 1 && pageCount <= 12">
        <button class="button is-primary is-small" [disabled]="pageIndex == page" (click)="repage(page)" *ngFor="let page of range(pageCount)">{{ page + 1 }}</button>
      </div>
      <div *ngIf="pageCount > 12" class="buttons">
        <button class="button is-primary is-small" (click)="repage(0)" [disabled]="pageIndex <= 0">First</button>
        <button class="button is-primary is-small" (click)="repage(pageIndex - 1)" [disabled]="pageIndex <= 0">&laquo;</button>
        <button class="button is-primary is-small" [disabled]>{{ pageIndex + 1 }}</button>
        <button class="button is-primary is-small" (click)="repage(pageIndex + 1)" [disabled]="pageIndex >= pageCount - 1">&raquo;</button>
        <button class="button is-primary is-small" (click)="repage(pageCount - 1)" [disabled]="pageIndex >= pageCount - 1">Last</button>
      </div>
    </div>
    <div class="column is-right">
      <select style="text-align: right; background-color: transparent; border: 0;" (change)="retake($event)">
        <option style="display: none"></option>
        <option [selected]="dataSource.query.take == 5">5</option>
        <option [selected]="dataSource.query.take == 10">10</option>
        <option [selected]="dataSource.query.take == 15">15</option>
        <option [selected]="dataSource.query.take == 20">20</option>
        <option [selected]="dataSource.query.take == 25">25</option>
        <option [selected]="dataSource.query.take == 30">30</option>
        <option [selected]="dataSource.query.take == 40">40</option>
        <option [selected]="dataSource.query.take == 50">50</option>
        <option [selected]="dataSource.query.take == 100">100</option>
      </select>
      /
      {{ dataSource.queryResult.totalCount }}
    </div>
  </div>
</div>
