@import 'config.scss';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 2.5em;
  padding: 0 1em 0 1em;
  transition: background-color 0.25s ease;
  color: var(--palette-text);
  background-color: #FFF;
  border: 1px solid #dbdbdb;
  white-space: nowrap;

  @each $p in $paletteAction {
    &.is-#{$p} {
      color: var(--palette-#{$p}-contrast);
      background-color: var(--palette-#{$p});
      border-color: var(--palette-#{$p});

      &:hover, &:focus {
        background-color: var(--palette-#{$p}-hover);
      }
    }
  }

  &.is-small {
    font-size: 0.8em;
    height: 2.0em;
    padding: 0 0.5em 0 0.5em;
  }
}

.buttons {

    &.is-right {
        text-align: right;
    }

    margin: var(--gap) 0 var(--gap) 0;

    .button + .button {
        margin-left: calc(var(--gap) / 2);
    }
}
