@import 'config.scss';

.card {
  margin-bottom: calc(var(--gap));
  border: 2px solid var(--palette-control-border);
  padding: 1rem;
  box-shadow: 0 0 12px RGBA(0, 0, 0, 0.1);
  background-color: var(--palette-control-background);
  color: var(--palette-control-text);

  &.header {
      background-color: transparent;
      color: var(--palette-body-text);
      border: none;
      box-shadow: none;
      border-bottom: 2px solid var(--palette-body-border);
  }

  .card-title {
    margin: 0.5rem 0 0.5rem;
    display: flex;
    gap: 4px;
  }

  .card-buttons {
    margin: 0.5rem 0 0.5rem;
    text-align: right;

    .button {
      margin-left: 0.5rem;
    }
  }

  .card-narrative {
    margin: 0.5rem 0 0.5rem;
    background-color: var(--palette-control-background);
    color: var(--palette-control-text);
    border: 2px solid var(--palette-control-border);
    padding: var(--gap);
    line-height: 1.5;
    white-space: pre-wrap;
  }
}
