@import 'config.scss';

.chrome {
  height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "side head" "side main";

  .chrome-head {
    grid-area: head;
  }

  .chrome-side {
    grid-area: side;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
  }

  .chrome-main {
    grid-area: main;
    overflow-y: auto;
    padding-bottom: 100px;
  }
}

.chrome-menu {
  background-color: var(--palette-control-background);
  border: 1px solid var(--palette-control-borderr);
  color: var(--palette-control-text);

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        display: block;
        padding: 1rem;
        min-width: 240px;
        background-color: var(--palette-control-background);
        color: var(--text);

        &:hover {
          background-color: var(--palette-control-background-alt);
        }

        i {
          margin-right: 0.8rem;
        }
      }
    }
  }
}

.chrome.collapsed {
  grid-template-columns: 3.5rem 1fr;
}
