@import 'config.scss';

.columns {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--gap);

  &.is-gapless {
    gap: 0;
  }

  &.is-align-center {
    align-items: center;
  }

  .column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    &.is-050, &.is-half {
      flex: none;
      width: 50%;
    }

    &.is-025 {
      flex: none;
      width: 25%;
    }

    &.is-12 {
      flex: none;
      width: 100%;
    }

    &.is-4 {
      flex: none;
      width: 33.33%;
    }

    &.is-right {
      text-align: right;
    }

    &.is-narrow {
      flex-grow: 0;
      white-space: nowrap;
    }
  }
}
