@import 'config.scss';

.columns {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--gap);

  &.is-gapless {
      gap: 0;
  }

  &.is-align-center {
    align-items: center;
  }

  .column {
    flex: 1;

    &.is-050, &.is-half {
      width: 50%;
    }

    &.is-025 {
      width: 25%;
    }

    &.is-right {
      text-align: right;
    }
  }
}
