

:root {
  --container-breakpoint-sm: 768px;
  --container-breakpoint-md: 992px;
  --container-breakpoint-lg: 1200px;
}

:root {
  --palette-text: #333;
  --palette-primary: hsl(208, 56%, 46%);
  --palette-primary-hover: hsl(208, 56%, 41%);
  --palette-primary-contrast: #FFF;
  --palette-success: hsl(173, 70%, 35%);
  --palette-success-hover: hsl(173, 70%, 30%);
  --palette-success-contrast: #FFF;
  --palette-warning: hsl(25, 100%, 40%);
  --palette-warning-hover: hsl(25, 100%, 35%);
  --palette-warning-contrast: #FFF;
  --palette-danger: hsl(351, 52%, 43%);
  --palette-danger-hover: hsl(351, 52%, 38%);
  --palette-danger-contrast: #FFF;
}

$paletteAction: 'primary', 'success', 'warning', 'danger';

:root {
  --font-family: "Poppins", sans-serif;
}

:root {
  --gap: 1.0rem;
}

:root {
  --border-color: #dbdbdb;
  --border-color-hover: #ababab;
  --border-color-focus: var(--palette-primary);
}
