$breakpoint-sm: 800px;
$breakpoint-md: 1200px;
$breakpoint-lg: 1600px;

@import 'config.palette.scss';

:root {
  --font-family: "Poppins", sans-serif;
}

:root {
  --gap: 1.0rem;
  --bold-if-light: bold;
}

:root {
  --sidebar-background: hsl(198, 34%, 29%);
  --sidebar-background-hover: RGBA(51, 51, 51, 0.7);
  --sidebar-background-active: RGBA(51, 51, 51, 0.5);
  --sidebar-highlight: #0de3f6;
  --sidebar-width: 200px;
}

:root {
  --navbar-background: hsl(198, 34%, 29%);
  --navbar-background-hover: RGBA(51, 51, 51, 0.7);
  --navbar-background-active: RGBA(51, 51, 51, 0.5);
  --navbar-highlight: #0de3f6;
  --navbar-height: 3rem;
}

// Dark Mode

body.mode-active.dark-mode {
  --bold-if-light: normal;
}

// Mixins

@mixin form-input {
  background-color: var(--palette-control-background);
  border: 1px solid var(--palette-control-border);
  color: var(--palette-control-text);
  box-shadow: none;
  outline: none;
  font-size: 1rem;
  min-height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  display: inline-flex;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  width: 100%;
  flex-shrink: 1;

  &.placeholder {
    color: var(--palette-control-text-disabled);
  }

  &:hover {
    border: 1px solid var(--palette-control-border-hover);
    box-shadow: inset 0 0 2px var(--palette-control-border-hover);
  }

  &:focus, &:focus-within {
    border-color: var(--palette-control-border-focus);
    box-shadow: inset 0 0 2px var(--palette-control-border-focus);
  }


  &.ng-invalid.ng-touched {
    border-color: var(--palette-control-border-error);
    box-shadow: inset 0 0 6px var(--palette-control-border-error);
  }
}
