@import 'config.scss';

.container {
  margin: auto;
  max-width: $breakpoint-lg;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (max-width: $breakpoint-lg) {
  .container {
    max-width: $breakpoint-md;
  }
}

@media (max-width: $breakpoint-md) {
  .container {
    max-width: $breakpoint-md;
  }
}

@media (max-width: $breakpoint-sm) {
  .container {
    max-width: 100%;
  }
}

body.mode-external .container {
    width: 100% !important;
    max-width: 1600px !important;
    padding: 0 !important;
}
