@import 'config.scss';

.cdk-dialog-container {
    position: relative;
}

.dialog {
  background-color: var(--palette-body-background);
  display: block;
  position: relative;
  box-shadow: 1px 1px 10px #000;
  width: 100%;
  min-width: 40rem;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;

  .dialog-head {
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1rem 0 1rem;
    border-bottom: 1px solid #DADADA;
    font-weight: bold;
    color: var(--palette-success-foreground);
    background-color: var(--palette-success-background);

    @each $p in $paletteAction {
      &.is-#{$p} {
        color: var(--palette-#{$p}-foreground);
        background-color: var(--palette-#{$p}-background);
      }
    }
  }

  .dialog-body {
    position: relative;
    padding: var(--gap);
    overflow: auto;
    max-height: 70vh;
    border-left: 1px solid var(--palette-control-border);
    border-right: 1px solid var(--palette-control-border);
  }

  .dialog-buttons {
    width: 100%;
    border: 1px solid var(--palette-control-border);
    border-right: none;
    display: flex;

    button {
      flex-basis: 100%;
      height: 3.5rem;
      line-height: 3.5rem;
      text-align: center;
      text-decoration: none;
      color: var(--palette-body-text);
      border: none;
      border-right: 1px solid var(--palette-control-border);
      transition: color 0.25s ease, background-color 0.25s ease;
      background-color: var(--palette-body-background);

      &:hover {
        background-color: #D2D2D2;
      }

      @each $p in $paletteAction {
        &.is-#{$p}:hover {
          background-color: var(--palette-#{$p}-background);
          color: var(--palette-#{$p}-foreground);
        }
      }
    }
  }
}

