@import 'config.scss';


.dialog {
  background-color: var(--dialog-background);
  display: block;
  position: relative;
  box-shadow: 1px 1px 10px #000;
  width: 600px;
  max-width: 95%;

  .dialog-head {
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1rem 0 1rem;
    border-bottom: 1px solid #DADADA;
    font-weight: bold;
    color: var(--palette-success-contrast);
    background-color: var(--palette-success);

    @each $p in $paletteAction {
      &.is-#{$p} {
        background-color: var(--palette-#{$p});
        color: var(--palette-#{$p}-contrast);
      }
    }
  }

  .dialog-body {
    position: relative;
    padding: var(--gap);
    overflow: visible;
    max-height: 80vh;
  }

  .dialog-buttons {
    width: 100%;
    border: 1px solid #DADADA;
    border-right: none;
    display: flex;

    button {
      flex-basis: 100%;
      height: 3.5rem;
      line-height: 3.5rem;
      text-align: center;
      text-decoration: none;
      color: var(--palette-text);
      border: none;
      border-right: 1px solid #DADADA;
      transition: color 0.25s ease, background-color 0.25s ease;
      background-color: var(--dialog-background);

      &:hover {
        background-color: #D2D2D2;
      }

      @each $p in $paletteAction {
        &.is-#{$p}:hover {
          background-color: var(--palette-#{$p});
          color: var(--palette-#{$p}-contrast);
        }
      }
    }
  }
}

