@import 'config.scss';



.project-support-summary {

  table {
    border-collapse: collapse;

    td {

      &.active {
        border-left: 1px solid var(--palette-control-border);
        background-color: var(--palette-success-background);
        color: var(--palette-success-foreground);
      }

      &.inactive {
        border-left: 1px solid var(--palette-control-border);
        color: var(--palette-text-disabled);
      }
    }
  }
}

.toggle-list {
    a {
        display: block;
        border: 1px solid var(--palette-control-border);
        background-color: var(--palette-control-background);
        padding: 0.8rem;
        margin-bottom: 0.5rem;

        &.selected {
            background-color: var(--palette-success-background);
            color: var(--palette-success-foreground);
        }
    }
}
