@import 'config.scss';

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gap)/-2);
  margin-right: calc(var(--gap)/-2);

  & > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding: 0 calc(var(--gap)/2) 0 calc(var(--gap)/2);
    margin-bottom: var(--gap);
    min-width: 15%;
  }

  &.no-margin > * {
    margin-bottom: 0;
  }


  & > .is-2 {
    flex: none;
    width: 16.66%;
  }

  & > .is-3 {
    flex: none;
    width: 25%;
  }

  & > .is-4 {
    flex: none;
    width: 33%;
  }

  & > .is-5 {
    flex: none;
    width: 40%;
  }

  & > .is-6 {
    flex: none;
    width: 50%;
  }

  & > .is-7 {
    flex: none;
    width: 60%;
  }

  & > .is-8 {
    flex: none;
    width: 66.66%;
  }

  & > .is-12 {
    flex: none;
    width: 100%;
  }

  & > .is-right {
    text-align: right;
  }
}

@media (max-width: $breakpoint-md - 1) {
  .flex {

    & > .is-2-md {
      flex: none;
      width: 16.666%;
    }

    & > .is-3-md {
      flex: none;
      width: 25%;
    }

    & > .is-4-md {
      flex: none;
      width: 33.33%;
    }

    & > .is-6-md {
      flex: none;
      width: 50%;
    }

    & > .is-12-md {
      flex: none;
      width: 100%;
    }
  }
}

@media (max-width: $breakpoint-sm - 1) {
  .flex {
    // SM everything goes to 100% by default

    & > * {
      flex: none;
      width: 100%;
    }

    & > .is-2 {
      flex: none;
      width: 16.666%;
    }

    & > .is-3 {
      flex: none;
      width: 100%;
    }

    & > .is-4 {
      flex: none;
      width: 100%;
    }

    & > .is-5 {
      flex: none;
      width: 100%;
    }

    & > .is-6 {
      flex: none;
      width: 100%;
    }

    & > .is-7 {
      flex: none;
      width: 100%;
    }

    & > .is-8 {
      flex: none;
      width: 100%;
    }

    & > .is-12 {
      flex: none;
      width: 100%;
    }
    // SM Overrides

    & > .is-3-sm {
      flex: none;
      width: 25%;
    }

    & > .is-4-sm {
      flex: none;
      width: 33.33%;
    }

    & > .is-6-sm {
      flex: none;
      width: 50%;
    }

    & > .is-12-sm {
      flex: none;
      width: 100%;
    }
  }
}
