@import 'config.scss';
@import 'form.tag-input.scss';

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,0.5);
}

.form {
  margin: var(--gap) 0 var(--gap) 0;
}

.field {
  .label {
    display: block;
    font-weight: var(--bold-if-light);
    margin-bottom: 0.4rem;
    line-height: 1.5em;
  }
}

.input, .select, .textarea, .checkbox, .radio-group, .tag-input {
    @include form-input;
}

.textarea {
    height: 8em;
}

.checkbox input[type=checkbox] {
  margin-right: 0.5rem;
  width: 1.2rem;
}

.radio-group {
  flex-wrap: wrap;

  .radio {
    display: flex;
    padding-right: 1.0rem;

    input[type=radio] {
      margin-right: 0.5rem;
      width: 1.2rem;
    }
  }
}

.control {
  display: flex;

  & > .icon {
    font-size: 1rem;
    min-height: 2.5em;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @each $p in $paletteAction {
      &.is-#{$p} {
        color: var(--palette-#{$p}-foreground);
        background-color: var(--palette-#{$p}-background);

        &:hover, &:focus {
          background-color: var(--palette-#{$p}-background-hover);
        }
      }
    }
  }
}

.dropdown-popup {
  background-color: var(--palette-control-background);
  color: var(--palette-control-text);
  outline: none;
  transition: border 0.25s;
  box-shadow: 3px 3px 3px var(--palette-control-shadow);
  display: block;
  width: 100%;
  overflow: hidden;

  .items {
    max-height: 16em;
    overflow: auto;
  }

  input {
    padding: 8px 10px 8px 10px;
    border: 0;
    border-bottom: 1px solid var(--palette-control-border);
    width: 100%;
    border-radius: 0;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 8px 10px 8px 10px;
    cursor: pointer;

    &:hover {
      color: var(--palette-primary-foreground);
      background-color: var(--palette-primary-background);
    }
  }

  .dropdown-loading {
    display: block;
    width: 100%;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
  }
}

.date-picker-popup {
  box-shadow: 1px 1px 10px #000;
}

.toggle-input {
  padding: 0.4em 0 0.4em 0;

  .wrap {
    width: 3em;
    height: 1.2em;
    border-radius: 0.6em;
    background-color: #ddd;
    position: relative;
    transition: background-color 0.25s ease;
    display: inline-block;
    vertical-align: middle;
  }

  .disc {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0%;
    height: 1.6em;
    width: 1.6em;
    border-radius: 0.8em;
    background-color: #ccc;
    box-shadow: 0 0 2px #666;
    transition: left 0.25s ease, background-color 0.25s ease;
  }

  &.on {
    .wrap {
      background-color: color-mix(in hsl, var(--palette-success-background) 40%, transparent);
    }

    .disc {
      left: calc(100% - 1.6em);
      background-color: var(--palette-success-background);
    }
  }

  span {
    display: inline-block;
    margin-left: 0.5rem;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
    top: -1px;
  }
}

.floating-buttons {
  display: flex;
  gap: 1rem;
  padding: 1rem 3em 1rem 3rem;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--palette-body-background-alt);
  box-shadow: 0 0 6px #444;
  border: 1px solid var(--palette-body-border);
  border-radius: 1000px;

  .button {
    box-shadow: 0 0 4px #444;
  }
}
