@import 'config.scss';

html {
  font-size: 16px;
}

body {
  background-color: var(--body-background);
  color: var(--palette-text);
  font-family: var(--font-family);
}

a, button {
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

p {
    margin: 0;
    line-height: 1.6em;
}

p + p {
    margin-top: var(--gap);
}
