@import 'config.scss';

.growl-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 70000;
  pointer-events: none;
}

.growl {
  pointer-events: none;
  position: relative;
  display: block;
  max-height: 400px;
  width: 400px;
  overflow: auto;
  z-index: 70000;
  padding: 16px 20px 16px 20px;
  margin-bottom: 16px;
  margin-right: 16px;
  margin-left: auto;
  color: var(--palette-primary-foreground);
  background-color: var(--palette-primary-background);
  box-shadow: 1px 1px 10px #000000;

  @each $p in $paletteAction {
    &.is-#{$p} {
      color: var(--palette-#{$p}-foreground);
      background-color: var(--palette-#{$p}-background);
    }
  }
}
