

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}


.columns {
  display: flex;
  gap: 1rem 1rem;

  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    &.is-narrow {
      flex: none;
    }
  }
}
