@import 'config.scss';

.link {
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }

  @each $p in $paletteAction {
    &.is-#{$p} {
      color: var(--palette-#{$p});
    }
  }
}

.links {
  .link + .link {
    margin-left: calc(var(--gap) / 2);
  }
}

