@import 'config.scss';

.app-mode-login {
  background-image: url(https://www.webfuel.com/temp/login-background.jpg);
  background-position: 50% 50%;
  background-size: cover;
  min-height: 100vh;
}

.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;

  .webfuel {
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: 0.7;
  }
}

.login-form {
  width: 600px;
  max-width: 95%;
  margin-right: 40px;
  margin-left: 40px;
  background-color: RGBA(220, 220, 220, .5);
  padding: 2rem;
  box-shadow: 3px 3px 8px RGBA(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  border-radius: 12px;

  img {
    margin-bottom: 1px;
  }

  .logo {
    background-image: url(https://db.rds-se.nihr.ac.uk/nihr-logo.png);
    padding-bottom: 13.5%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media ($breakpoint-sm) {
  .login {
    margin-top: 0px;
  }
}
