@import 'config.scss';

tr.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  background-color: RGBA(255, 255, 0, 0.05);

  td {
    flex: 1 1 auto;
    text-align: left;
    padding: 0.5em 0.75em;

    &.is-narrow {
      flex: 0 1 auto;
    }

    &.is-right {
      text-align: right;
    }
  }
}

tr.cdk-drag-placeholder {
  opacity: 0.0;

}

tr.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.table {
  border: 1px solid var(--border-color);
  background-color: var(--table-background);
  padding: 0 0.5rem 0.5rem 0.5rem;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      text-align: left;
      padding: 0.5em 0.75em;

      &.is-narrow {
        width: 1px;
      }

      &.is-right {
        text-align: right;
      }
    }

    th {
      vertical-align: middle;
      border-bottom: 2px solid var(--border-color);
    }

    td {
      vertical-align: top;
      border-top: 1px solid var(--border-color);
    }

    tr:nth-child(even) {
      background-color: var(--table-background-alt);
    }
  }
}

.table-pager {
  margin: 8px 0 8px 0;
}

.table-pager button:disabled {
  background-color: #999 !important;
  cursor: default !important;
}

.table-pager .button {
  margin: 4px;
  min-width: 26px;
}

