@import 'config.scss';

.tabs {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid var(--palette-body-border);

    li {
      display: flex;
      padding: 0;
      margin: 0;

      a {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--palette-body-border);
        margin-bottom: -1px;
        padding: 0.5em 1em;
        cursor: pointer;

        &:hover {
          border-bottom-color: var(--palette-body-text-highlight);
        }
      }

      &.is-active a {
        border-bottom-color: var(--palette-body-text-highlight);
        color: var(--palette-body-text-highlight);
      }
    }
  }
}
