@import 'config.scss';

.tag {
  display: inline-block;
  background-color: var(--palette-control-addon-background);
  color: var(--palette-control-addon-foreground);
  display: flex;
  align-items: center;
  padding: 0 0.6rem 0 0.6rem;

  .closer {
    display: inline-block;
    margin-left: 0.7rem;
    cursor: pointer;
    opacity: 0.2;
    font-size: 1.2em;

    &:hover {
      opacity: 1.0;
      color: var(--palette-warning-text);
    }
  }
}

.message {
  margin: var(--gap) 0 var(--gap) 0;
  color: var(--palette-primary-text);
  border: 2px solid var(--palette-primary-background);
  background-color: color-mix(in hsl, var(--palette-primary-background) 10%, #FFF);
  padding: var(--gap);
  font-weight: bold;
  line-height: 1.6rem;

  @each $p in $paletteAction {
    &.is-#{$p} {
      background-color: color-mix(in hsl, var(--palette-#{$p}-background) 10%, #FFF);
      color: var(--palette-#{$p}-text);
      border-color: var(--palette-#{$p}-background);
    }
  }
}
