@import 'config.scss';

.tag {
  display: flex;
  background-color: var(--palette-secondary-background);
  color: var(--palette-secondary-foreground);
  align-items: center;
  padding: 0 0.6rem 0 0.6rem;
  flex-wrap: nowrap;
  font-size: 0.9em;
  min-height: 2.1rem;

  .closer {
    display: inline-block;
    margin-left: 0.5rem;
    cursor: pointer;
    opacity: 0.2;
    font-size: 1.2em;

    &:hover {
      opacity: 1.0;
      color: var(--palette-warning-text);
    }
  }

  &.is-small {
    font-size: 0.7em;
    padding: 0 0.5em 0 0.5em;
    min-height: auto;
  }

  @each $p in $paletteAction {
    &.is-#{$p} {
      color: var(--palette-#{$p}-foreground);
      background-color: var(--palette-#{$p}-background);
      border-color: var(--palette-#{$p}-background);
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  gap: 2px;
}

.tags-input {
  padding: 0;
}

.message {
  margin: var(--gap) 0 var(--gap) 0;
  color: var(--palette-primary-text);
  border: 2px solid var(--palette-primary-background);
  background-color: color-mix(in hsl, var(--palette-primary-background) 10%, #FFF);
  padding: var(--gap);
  font-weight: bold;
  line-height: 1.6rem;

  @each $p in $paletteAction {
    &.is-#{$p} {
      background-color: color-mix(in hsl, var(--palette-#{$p}-background) 10%, #FFF);
      color: var(--palette-#{$p}-text);
      border-color: var(--palette-#{$p}-background);
    }
  }
}

.progress-bar {
  position: relative;
  height: 3rem;

  .progress-bar-slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #b5e0fb;
  }

  .progress-bar-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.checklist {

  @include form-input;
  display: block;
  max-height: 20rem;
  overflow: auto;
  padding:  0;

  > a {
    display: flex;
    align-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;

    &:hover {
        background-color: #FAFAFA;
    }

    i {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }
  }
}
