@import 'config.scss';

h1, h2, h3, h4, h5, h6 {

    &.title {
        margin: var(--gap) 0 var(--gap) 0;
    }

}

p {
  margin: var(--gap) 0 var(--gap) 0;
}

.text {

  line-height: 1.6;

  @each $p in $paletteAction {
    &.is-#{$p} {
      color: var(--palette-#{$p}-text);
    }
  }

  &.is-bold {
      font-weight: bold;
  }

  &.is-right-aligned {
      text-align: right;
  }
}
