<form class="form dialog" [formGroup]="formManager.formGroup">
  <div class="dialog-head">
    Create Widget
  </div>
  <div class="dialog-body">
    <div class="grid has-columns-2">
      <div class="field">
        <label class="label">Name</label>
        <input class="input" type="text" placeholder="required" formControlName="name" />
      </div>
      <div class="field">
        <label class="label">Age</label>
        <input class="input" type="number" placeholder="required" formControlName="age" />
      </div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button type="submit" class="is-success" (click)="save()">Add</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

