<div class="columns">
  <div class="column">
    <h1 class="title">Project</h1>
  </div>
  <div class="column">
    <div class="buttons is-right">
      <button class="button is-primary" (click)="addSupport()">Add Support</button>
      <button class="button is-primary" (click)="addSubmission()">Add Submission</button>
    </div>
  </div>
</div>
<div class="tabs">
  <ul>
    <li routerLinkActive="is-active"><a routerLink="../../project-item/{{ item.id }}">Project</a></li>
    <li routerLinkActive="is-active"><a routerLink="../../project-request/{{ item.id }}">Request</a></li>
    <li routerLinkActive="is-active"><a routerLink="../../project-support/{{ item.id }}">Support</a></li>
    <li><a>Files</a></li>
    <li routerLinkActive="is-active"><a routerLink="../../project-submission/{{ item.id }}">Submissions</a></li>
    <li><a>History</a></li>
  </ul>
</div>
