@import '../../../../styles/config.scss';

.date-calendar {
  display: inline-block;
  width: 17em;
  max-width: 100% !important;
  text-align: center;
  user-select: none;
  background-color: var(--palette-control-background);
  color: var(--palette-control-text);
  white-space: nowrap;
  font-size: 1rem;
}

.date-calendar .day-title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-weight: bold;
}

.date-calendar .day-control, .date-calendar .month-control {
  background-color: var(--palette-secondary-background);
  color: var(--palette-secondary-foreground);
}

.date-calendar .day-control a, .date-calendar .month-control a {
  font-weight: bold;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.54em;
}

.date-calendar .day-control i, .date-calendar .month-control i {
}

.date-calendar .day a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: background-color 0.25s ease;
}

.date-calendar .day a:hover {
  background-color: var(--palette-control-background-alt);
}

.date-calendar .day.inactive a {
  color: #aaaaaa;
}

.date-calendar .day.selected a {
  font-weight: bold;
  background-color: var(--palette-control-background);
  color: var(--palette-control-foreground);
}

.date-calendar .month a {
  display: block;
  padding-top: 1.60em;
  padding-bottom: 1.60em;
  transition: background-color 0.25s ease;
}

.date-calendar .month a:hover {
  background-color: #eee;
}

.date-calendar .columns {
  margin: 0 !important;

  & > * {
      flex: 1;
  }
}
