<div class="grid" [formGroup]="form"  #popupAnchor>
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Name</label>
        <input type="text" class="input" [placeholder]="filter.fieldName" formControlName="name" />
      </div>
    </div>
    <div class="column is-narrow">
      <div class="field">
        <label class="label">Editable</label>
        <toggle-input formControlName="editable" />
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column" *ngIf="filter.conditions.length > 0">
      <div class="field">
        <label class="label">Condition</label>
        <select class="select" formControlName="condition">
          <option *ngFor="let condition of filter.conditions" [ngValue]="condition.value">{{ condition.description }}</option>
        </select>
      </div>
    </div>
    <div class="column" *ngIf="!unary">
      <div class="field">
        <label class="label">Value</label>
        <dropdown-text-input formControlName="value" placeholder="optional" [items]="options" callbackIcon="far fa-calendar" (callback)="onCallback()"></dropdown-text-input>
      </div>
    </div>
  </div>
</div>

<ng-template #popupTemplate>
  <div class="date-picker-popup">
    <date-calendar [formControl]="popupFormControl"></date-calendar>
  </div>
</ng-template>

