<form class="form dialog is-warning" [formGroup]="form">
  <div class="dialog-head">
    Triage Support Request
  </div>
  <div class="dialog-body">
    <div class="grid">
      <div class="field">
        <label class="label">Please select outcome of triage</label>
        <dropdown-select placeholder="required" formControlName="statusId" [dataSource]="staticDataCache.supportRequestStatus" (filter)="filterStatus($event)"></dropdown-select>
      </div>
      <div class="grid" *ngIf="promoting">
        <div class="flex">
          <div class="field">
            <label class="label">Time in hours (0 - 8)</label>
            <input class="input" type="number" min="0" max="8" formControlName="workTimeInHours" placeholder="required" />
          </div>
          <div class="field">
            <label class="label">Pre/Post Award</label>
            <dropdown-select [dataSource]="staticDataCache.isPrePostAward" placeholder="required" formControlName="isPrePostAwardId"></dropdown-select>
          </div>
        </div>
        <div class="field">
          <label class="label">Support provided (include all types of support provided)</label>
          <dropdown-multi-select [dataSource]="staticDataCache.supportProvided" placeholder="optional" formControlName="supportProvidedIds"></dropdown-multi-select>
        </div>
        <div class="field">
          <label class="label">Description of support provided/requested</label>
          <textarea style="height: 150px" class="textarea" formControlName="description" placeholder="required"></textarea>
        </div>
        <div class="field">
          <label class="label">Request additional support from another team</label>
          <dropdown-select [dataSource]="staticDataCache.supportTeam" [enableClear]="true" placeholder="optional" formControlName="supportRequestedTeamId">
            <ng-template #optionTemplate let-item>
              {{ item.name }}
            </ng-template>
            <ng-template #pickedTemplate let-item>
              {{ item.name }}
            </ng-template>
          </dropdown-select>
        </div>
      </div>
      <div *ngIf="!promoting">
        <div class="field">
          <label class="label">Reason for triage decision</label>
          <input class="input" formControlName="triageNote" placeholder="optional" />
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button type="submit" class="is-success" (click)="save()">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

