<div class="login-wrapper">
  <div class="login-form">
    <form class="form" [formGroup]="form" autocomplete="off" spellcheck="false" novalidate>
      <div class="logo"></div>
      <hr />
      <h1>
        Reset Password
      </h1>
      <hr />
      <div *ngIf="passwordReset === false">
        <p>
          Please enter your new password below.
        </p>
        <div class="grid">
          <div class="field">
            <input type="password" class="input" placeholder="New Password" formControlName="newPassword" />
          </div>
          <div class="field">
            <input type="password" class="input" placeholder="Confirm New Password" formControlName="confirmNewPassword" />
          </div>
        </div>
        <div *ngIf="errorMessage" class="message is-danger">
          {{ errorMessage }}
        </div>
        <p>
          Password must be at least 8 characters long and contain
          upper case, lower case, and at least one non-alphanumeric character.
        </p>
        <div class="buttons">
          <button type="submit" class="button is-success" (click)="resetPassword()">
            <span class="text">
              Reset Password
            </span>
            <span class="spin">
              <i class="far fa-sync-alt"></i>
            </span>
          </button>
          &nbsp;&nbsp;
          <a (click)="returnToLogin()" class="link">return to login</a>
        </div>
      </div>
      <div *ngIf="passwordReset === true">
        <p>Thank you. Your password has been reset. Please return to the login page and login using your email address and new password.</p>
        <div class="buttons">
          <a (click)="returnToLogin()" class="link">return to login</a>
        </div>
      </div>
    </form>
  </div>
  <a class="webfuel" href="https://www.webfuel.com" target="_blank">powered by webfuel</a>
</div>

