<div class="login-wrapper">
  <div class="login-form">
    <form class="form" [formGroup]="form" autocomplete="off" spellcheck="false" novalidate>
      <div class="logo"></div>
      <hr />
      <h1>
        NIHR RSS Imperial College
      </h1>
      <hr />
      <p>
        Please enter your email address and password below.
      </p>
      <div class="grid">
        <div class="field">
          <input id="username" name="email" type="text" class="input" placeholder="Email Address" formControlName="email" autocomplete="username" />
        </div>
        <div class="field">
          <input id="current-password" name="password" type="password" class="input" placeholder="Password" formControlName="password" autocomplete="current-password" />
        </div>
      </div>
      <div *ngIf="errorMessage" class="message is-danger">
        {{ errorMessage }}
      </div>
      <div class="buttons">
        <button type="submit" class="button is-success" [class.processing]="processing" (click)="login()">
          <span class="text">
            Login
          </span>
          <span class="spin">
            <i class="far fa-spin fa-sync-alt"></i>
          </span>
        </button>
        &nbsp;&nbsp;
        <a (click)="forgottenPassword()" class="link">forgotten password?</a>
      </div>
    </form>
  </div>
  <a class="webfuel" href="https://www.webfuel.com" target="_blank">powered by webfuel</a>
</div>

